#photo-background {
    width: 100% !important;
    height: 200px;
    object-fit: cover;
}

#div-photo-profil {
    text-align: center;

    #photo-profil {
        margin: -125px;
        margin-bottom: 10px;
        margin-right: 20px;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
    }

    z-index: 1;
}

#photo-viewer-photo-profil,
#photo-viewer-photo-background {

    position: fixed;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    text-align: center;
    box-shadow: 5px 44px 77px 1px rgb(192, 192, 192);
    padding: 30px;
    padding-bottom: 5px;
    z-index: 2;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        width: auto;
        height: 80vh;
        display: block;
    }

    button {
        float: right;
        margin: 15px ;
        display: block;
    }
}

.name {
    text-align: center;
    font-size: large;
    margin: 20px 0;

    #sedesabonner,
    #sabonner {
        border: none;
        border-radius: 15px;
        padding: 7px 14px;
        font-size: small;
        background-color: #f2f2f2;
        color: black;
        margin-left: 15px;
    }

    #sabonner {
        background-color: dodgerblue;
        color: #fff;

    }
}

.dropdown {
    text-align: center;
    button {
        font-size: 17px;
        color: #343536 !important;
        font-weight: lighter;
        border: none;
        background-color: #f2f2f2;
    }

    a {
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        color:#292b2b !important;
        font-weight: lighter;
    }

    .dropdown-menu button{
        background-color: white;
    }
}