#photo-background {
    width: 100% !important;
    height: 200px;
    object-fit: cover;
}

#div-photo-profil {
    text-align: center;

    #photo-profil {
        margin: -125px;
        margin-bottom: 10px;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.name {
    text-align: center;
    font-size: large;

    #sedesabonner,
    #sabonner {
        border: none;
        border-radius: 15px;
        padding: 9px 15px;
        background-color:#f2f2f2; 
        color: black;
        margin-left: 15px;
    }

    #sabonner {
        background-color: dodgerblue;
        color: #fff;

    }
}