<img id="photo-background" src={{UserPhotoBackground}} (click)="showPhotoViewerBackground()" />
<div id="div-photo-profil">
    <img id="photo-profil" src={{UserPhotoProfil}} (click)="showPhotoViewerProfil()"/>
</div>

<div id="photo-viewer-photo-profil" *ngIf="isDisplayPhotoViewerProfil">
    <img src={{UserPhotoProfil}}  />
    <button (click)="hidePhotoViewerProfil()" class="btn btn-dark">Fermer</button>
</div>

<div id="photo-viewer-photo-background" *ngIf="isDisplayPhotoViewerBackground">
    <img src={{UserPhotoBackground}}  />
    <button (click)="hidePhotoViewerBackground()" class="btn btn-dark">Fermer</button>
</div>

<h3 class="name"> 
    {{ UserName }} 
    
<button *ngIf="!isAbonnee && !istMe" (click)="sabonner()" id="sabonner"> S'abonner </button>
<button *ngIf="isAbonnee && !istMe" (click)="sedesabonner()" id="sedesabonner"> Se désabonner </button>

</h3>

<app-statistique-user [id]="id"></app-statistique-user>


