form {
    margin-top: 100px;
    padding: 80px 50px;
    box-shadow: rgb(229, 213, 245) 4px 4px 20px;
   
    h1 {
        text-align: center;
        color: blueviolet;

    }

    .div-input {
        margin: 16px 0;
        width: 500px;

        label,
        input {
            display: block;
            width: 100%;
            font-size: medium;

        }

        input {
            border: none;
            border-bottom: 1px solid rgb(229, 213, 245);
            padding: 6px 12px;
            margin: 5px 0;
        }
    }

    button[type="submit"],
    button {
        border: none;
        font-size: medium;
        margin: 15px auto;
        display: block;
        color: aliceblue;
        background-color: blueviolet;
        padding: 10px 20px;
        border-radius: 12px;
    }
}

.toast{
    // display: none;
    display: block;
  margin-top: 70px;
  background-color: #81e473;
  font-weight: bold;

}
@media(max-width:650px) {

    form {
        
        width: 100vw;
        padding: 30px;
        box-sizing: border-box;
        margin: 20px 0;
    }
}