<form>
    <h1>
        S'inscrire
    </h1>
    
    <div class="div-input">
        <label>Saisissez votre nom:</label>
        <input type="text" name="nom" placeholder="nom" />
    </div>

    <div class="div-input">
        <label>Saisissez votre email:</label>
        <input type="email" name="email" placeholder="email" />
    </div>

    <div class="div-input">
        <label>Saisissez votre mot de passe: </label>
        <input type="password" name="password" placeholder="password"  autocomplete="new-password" >
    </div>
    <div class="div-input">
        <label> Confirmez votre mot de passe: </label>
        <input type="password" name="password2" placeholder="password" autocomplete="new-password" >
    </div>
   
    <div class="div-input">
        <label>Saisissez le lien de votre photo:</label>
        <input type="text" name="photo" placeholder="photo" />
    </div>


    <button type="submit">S'inscrire </button>
    <button type="button" onclick="document.location.href='connexion'">Se connecter</button>
</form>