form {
    width: 600px;
    margin: 50px auto;

    h1 {
        text-align: center;
    }

    .div-input {
        margin: 16px 0;

        label,
        input {
            display: block;
            width: 100%;
            font-size: medium;

        }

        input {
            border: none;
            border-bottom: 1px solid gray;
            padding: 15px 0;
            margin: 5px 0;
        }
    }

    button[type="submit"],
    button {
        border: none;
        background-color: aliceblue;
        padding: 12px 22px;
        font-size: medium;
        margin: 15px auto;
        display: block;
    }
}


@media(max-width:650px) {

    form {
        
        width: 100vw;
        padding: 30px;
        box-sizing: border-box;
        margin: 20px 0;
    }
}