<form [formGroup]="inscriptionUserForm" (ngSubmit)="onSubmit()">
    <h1>
        S'inscrire
    </h1>
    
    <div class="div-input">
        <label>Saisissez votre prénom:</label>
        <input type="text" name="nom" placeholder="nom" formControlName="firstName" />
    </div>

    <div class="div-input">
        <label>Saisissez votre nom de famille:</label>
        <input type="text" name="nom" placeholder="nom" formControlName="lastName" />
    </div>

    <div class="div-input">
        <label>Saisissez votre email:</label>
        <input type="email" name="email" placeholder="email" formControlName="email" />
    </div>

    <div class="div-input">
        <label>Saisissez votre mot de passe: </label>
        <input type="password" name="password" placeholder="password" formControlName="password"  autocomplete="new-password" >
    </div>
    <div class="div-input">
        <label> Confirmez votre mot de passe: </label>
        <input type="password" name="password2" placeholder="password" formControlName="password2"  autocomplete="new-password" >
    </div>
   
    <div class="div-input">
        <label>Saisissez le lien de votre photo de profil:</label>
        <input type="text" name="photo" placeholder="photo" formControlName="photos_profil"/>
    </div>

    <div class="div-input">
        <label>Saisissez le lien de votre photo de background:</label>
        <input type="text" name="photo" placeholder="photo" formControlName="photos_background"/>
    </div>


    <button type="submit">S'inscrire </button>
    <button type="button" onclick="document.location.href='connexion'">Se connecter</button>
</form>

<button type="button" (click)="addstUser()">add statistique user  </button>
