<div class="div-statistiqueUser">
    <div>
        <button id="btn-followers" (click)="displayFollowers()">
            Followers <br /> <strong>{{ statistiqueUser.followers}}</strong>
        </button>
    </div>

    <div>
        Points totales<br /> <strong>{{ statistiqueUser.totalPoints}}</strong>
    </div>

    <div>
        Post totales<br /><strong> {{ statistiqueUser.totalPosts}}</strong>
    </div>
</div>

<app-list-followers  *ngIf="isVisibleListFollowers" [id]='id' ></app-list-followers>
<button *ngIf="isVisibleListFollowers"  id="btn-hide-followers" (click)="hideListFollowers()">
   Ne plus afficher 
</button>