.div-statistiqueUser{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
     border-bottom: 0.6px solid #252525;
    width: 600px;
    margin: auto;
    div{
        text-align: center;
        margin: 10px auto;
        line-height: 30px;
    }
}