.div-statistiqueUser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.6px solid #252525;
    width: 600px;
    margin: auto;

    div {
        text-align: center;
        margin: 10px auto;
        line-height: 30px;
    }
}

#btn-followers {
    border: none;
    background-color: transparent;
}

#btn-hide-followers {
    border: none;
    border-radius: 15px;
    padding: 6px 15px;
    background-color: darkslategray;
    color: white;
    margin: 10px auto;
    display: block;
}

@media(max-width:850px) {

    .div-statistiqueUser {

        width: 100vw;
    }

}