h3 {
    text-align: center;
    font-size: 25px;
    margin: 15px;
}

.d-flex {
    margin: 10px;
}

button {
   border: none;
  border-radius: 15px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #30363d;
  color: #c3c3c3;
  margin: 0 5px;
}

button:hover {
  background-color: #3c434b;
}
.dropdown-menu button {
    background-color: transparent;
    margin: 0px;
}

app-header-snap-photos{
    display: block;
}
