#editphotos {
    background-color: rgba(255, 255, 255, 0.951);
    padding: 30px 10px;
    margin-left: 260px ;
}

.background-viewer {
    position: fixed;
    background-color: rgba(38, 38, 38, 0.351);
    margin: 0 auto;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    text-align: center;

    .btn-close {
        float: right;
        margin: 10px 10px 0 0;
        display: block;
    }

    #photo-viewer-photo-profil,
    #photo-viewer-photo-background {

        position: fixed;
        margin: 10px auto;
        text-align: center;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        border-radius: 15px;
        overflow: auto;

        img {
            margin: 1px auto;
            width: auto;
            height: 75vh;
            max-height: 90vh;
            display: block;
            max-width: calc(100vw - 280px);
            object-fit: cover;
            border-radius: 15px;
            margin-left: 260px;

        }


        #btn-open-edit {
            margin: 0;
            position: absolute;
            bottom: 28px;
            right: 23px;
        }


        @media (max-width:800px) {
            width: 95vw;
            margin: 2px auto;
            padding: 10px;

            img {
                height: auto;
            }


        }
    }
}

.headersnap-container {

    :after {
        content: " ";
        display: block;
        clear: both;
    }
}

#photo-background {
    width: calc(100% - 20px) !important;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    //   backdrop-filter: blur(8px);

    @media(max-width:479px) {
        height: 370px;
    }

    :after {
        content: " ";
        display: block;
        clear: both;
    }
}

.container-photo-infos {
    margin-top: -300px;
    height: 300px;


    :after {
        content: " ";
        display: block;
        clear: both;
    }


    #photo-profil {
        margin-bottom: 10px;

        height: 170px;
        width: 170px;

        object-fit: cover;
        border-radius: 50%;
    }

    @media(max-width:490px) {
        margin-right: 0px;

    }


    z-index: 1;
}

h3 {
    text-align: center;
    font-size: large;
    margin-top: 10px;
}






.modal- {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    .modal-header {
        justify-content: space-between !important;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        border-radius: 8px !important;

        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;

        :hover,
        :focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    }

}


#photo-profil-message-blox {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}