#photo-background {
    width: 100% !important;
    height: 200px;
    object-fit: cover;
}

#div-photo-profil {
    text-align: center;
    width: 100%;
    #photo-profil {
        margin: -125px;
        margin-bottom: 10px;
        margin-right: 20px;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;

    }

    z-index: 1;
}

#photo-viewer-photo-profil,
#photo-viewer-photo-background {

    position: fixed;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    text-align: center;
    box-shadow: 5px 44px 77px 1px rgb(192, 192, 192);
    z-index: 2;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    border-radius: 15px;
    overflow: auto;

    img {
        margin: 1px auto;
        padding: 20px;
        width: auto;
        height: 65vh;
        max-height: 70vh;
        display: block;
        max-width: 80vw;
        object-fit: cover;
    }

    .btn-close {
        float: right;
        margin: 10px 10px 0 0;
        display: block;
    }

    #btn-open-edit {
        margin: 0;
        position: absolute;
        bottom: 28px;
        right: 23px;
    }
    .btn-dark{
        margin-bottom: 20px;
    }

    @media (max-width:800px) {
        width: 90vw;
        margin: 2px auto;
        padding: 10px;

        img {
            height: auto;
        }


    }
}

.name {
    text-align: center;
    font-size: large;
    margin: 20px 0;


}

#btn-ecrire {
    border-radius: 15px !important;
    padding: 7px 14px !important;
    font-size: small !important;
    background-color: dodgerblue !important;
    color: #fff !important;
    margin-left: 15px !important;
    
}

.dropdown {
    text-align: center;

    button {
        font-size: 17px;
        color: #343536 !important;
        font-weight: lighter;
        border: none;
        background-color: #f2f2f2;
    }

    a {
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        color: #292b2b !important;
        font-weight: lighter;
    }

    .dropdown-menu button {
        background-color: white;
    }
}

#photo-profil-message-blox {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

@media(max-width:899px) {
    #photo-profil {
        margin: -95px;
        width: 150px !important;
        height: 150px !important;
    }
}

@media(max-width:767px) {
    #photo-background {
    margin-top: -45px;
    }
}