#editphotos {
    background-color: rgba(255, 255, 255, 0.951);
    padding: 30px 10px;
}

.background-viewer {
    position: fixed;
    background-color: rgba(38, 38, 38, 0.351);
    margin: 0 auto;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    text-align: center;

    .btn-close {
        float: right;
        margin: 10px 10px 0 0;
        display: block;
    }

    #photo-viewer-photo-profil,
    #photo-viewer-photo-background {

        position: fixed;
        margin: 10px auto;
        text-align: center;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        border-radius: 15px;
        overflow: auto;

        img {
            margin: 1px auto;
            width: auto;
            height: 65vh;
            max-height: 70vh;
            display: block;
            max-width: 80vw;
            object-fit: cover;
            border-radius: 15px;
        }



        #btn-open-edit {
            margin: 0;
            position: absolute;
            bottom: 28px;
            right: 23px;
        }

        .btn-dark {
            margin-bottom: 20px;
        }

        @media (max-width:800px) {
            width: 90vw;
            margin: 2px auto;
            padding: 10px;

            img {
                height: auto;
            }


        }
    }
}

.headersnap-container {
    //height: auto; 
    margin-bottom: 20px;

    :after {
        content: " ";
        display: block;
        clear: both;
    }
}

#photo-background {
    width: calc(100% - 20px) !important;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
 //   backdrop-filter: blur(8px);

    @media(max-width:479px) {
        height: 370px;
    }

    :after {
        content: " ";
        display: block;
        clear: both;
    }
}

.container-photo-infos {
    margin-top: -280px;
    height: 300px;
    margin-left: 10px;

    @media(max-width:479px) {
        height: 340px;
        margin-top: -355px;

    }

    :after {
        content: " ";
        display: block;
        clear: both;
    }

    // @media(max-width:700px) {
    //     height: 450px;
    // }

    #div-photo-profil {
        text-align: center;
        //width: 100%;
        margin-right: 20px;
        width: 170px;

        :after {
            content: " ";
            display: block;
            clear: both;
        }

        #photo-profil {
            margin-bottom: 10px;

            height: 170px;
            width: 170px;

            object-fit: cover;
            border-radius: 50%;
        }

        @media(max-width:490px) {
            margin-right: 0px;

        }
    }

    z-index: 1;
}

.div-nom-buttons-stats-user {
    background-color: rgb(251, 251, 251);
    padding: 5px 10px;
    border-radius: 12px;
    // box-shadow: #878787 0px 6px 6px 0.2px;
    max-width: 90vw;

    .name {
        text-align: center;
        font-size: large;
        margin: 20px;
        display: inline;
    }

    #btn-ecrire {
        border-radius: 15px !important;
        padding: 7px 14px !important;
        font-size: small !important;
        background-color: dodgerblue !important;
        color: #fff !important;
        margin-left: 15px !important;
    }

    .dropdown {
        text-align: center;

        button {
            font-size: 17px;
            color: #343536 !important;
            font-weight: lighter;
            border: none;
            background-color: #f2f2f2;
        }

        a {
            border: none;
            padding: 10px 20px;
            font-size: 17px;
            color: #292b2b !important;
            font-weight: lighter;
        }

        a:active {
            background-color: #dfdfdf !important;
        }

        .dropdown-menu button {
            background-color: white;
        }
    }
}







.modal- {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    .modal-header {
        justify-content: space-between !important;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        border-radius: 8px !important;

        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;

        :hover,
        :focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    }

}


#photo-profil-message-blox {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}