<app-header-snap-photos [user]="user" [isMe]="isMe"></app-header-snap-photos>


<div class="d-flex align-items-center justify-content-center">
    <h3 class="name">{{ UserName }}
        <button mat-menu-item *ngIf="!isMe" [matMenuTriggerFor]="menu" type="button"
            style="display: inline-block; width: auto;" class="btn btn-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-text-align-justify-icon lucide-text-align-justify" color="black">
                <path d="M3 5h18" />
                <path d="M3 12h18" />
                <path d="M3 19h18" />
            </svg>
        </button>
    </h3>
    <app-statistique-user [id]="id"></app-statistique-user>
</div>


<mat-menu #menu="matMenu">

    <app-button-follow [isAbonnee]="isAbonnee" [user]="user"></app-button-follow>


    <button mat-menu-item type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvaSignaler"
        aria-controls="offcanvaSignaler">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-circle-alert-icon lucide-circle-alert">
            <circle cx="12" cy="12" r="10" />
            <line x1="12" x2="12" y1="8" y2="12" />
            <line x1="12" x2="12.01" y1="16" y2="16" />
        </svg> Signaler
    </button>

</mat-menu>


<app-signaler-user *ngIf="!isMe" [userName]="user.firstName+' '+user.lastName" [userID]="user._id"></app-signaler-user>

