<div class="background-viewer" *ngIf="isDisplayPhotoViewerProfil">
    <button type="button" class="btn-close" aria-label="Close" (click)="hidePhotoViewerProfil()"></button>
    <div id="photo-viewer-photo-profil" @fadeIn @fadeOut *ngIf="isDisplayPhotoViewerProfil"
        (click)="preventCloseOnClick()">
        <br />
        <div *ngIf="!showEditPhotoProfil">
            <img *ngIf="!user.photos_profil"
                src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg" />
            <img id="imgpp" *ngIf="user.photos_profil" [src]="UserPhotoProfil"
                alt="Photo de profil de {{ UserName }}" />
            <button *ngIf="isMe" type="button" id="btn-open-edit" class="btn btn-light"
                (click)="showEditPhotoProfil=true">
                Modifier</button>
        </div>
        <div *ngIf="showEditPhotoProfil" id="editphotos">
            <app-edit-photos *ngIf="showEditPhotoProfil" nom="photos_profil"
                [photo]="user.photos_profil"></app-edit-photos>
            <button type="button" class="btn btn-dark" (click)="showEditPhotoProfil=false">
                Fermer </button>
        </div>
    </div>
</div>

<div class="background-viewer" *ngIf="isDisplayPhotoViewerBackground">
    <button type="button" class="btn-close" aria-label="Close" (click)="hidePhotoViewerBackground()"></button>

    <div id="photo-viewer-photo-background" @fadeIn @fadeOut *ngIf="isDisplayPhotoViewerBackground"
        (click)="preventCloseOnClick()">
        <br />
        <div *ngIf="!showEditPhotoBackground">
            <img *ngIf="user.photos_background" id="imgpb" [src]='UserPhotoBackground'
                alt="Photo background de {{ UserName }}" />
            <img *ngIf="!user.photos_background" src="../../../assets/violet.png" />

            <button *ngIf="isMe" type="button" id="btn-open-edit" class="btn btn-light"
                (click)="showEditPhotoBackground=true">
                Modifier</button>
        </div>
        <div *ngIf="showEditPhotoBackground" id="editphotos">
            <app-edit-photos nom="photos_background" [photo]="user.photos_background"></app-edit-photos>

            <button type="button" class="btn btn-dark" (click)="showEditPhotoBackground=false">
                Fermer </button>
        </div>

    </div>
</div>

<div class="headersnap-container">
    <img id="photo-background" *ngIf="user.photos_background" [src]="UserPhotoBackground"
        (click)="showPhotoViewerBackground(); toggleMenu(); preventCloseOnClick()" />
    <img id="photo-background" *ngIf="!user.photos_background" src="../../assets/violet.png"
        (click)="showPhotoViewerBackground(); toggleMenu(); preventCloseOnClick()" />

    <div class="container-photo-infos d-flex align-items-center justify-content-center"
        style="width: calc(100% - 20px) !important">

        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <div id="div-photo-profil">
                <img id="photo-profil" *ngIf="user.photos_profil" [src]="UserPhotoProfil"
                    (click)="showPhotoViewerProfil(); toggleMenu(); preventCloseOnClick()" />

                <img id="photo-profil" *ngIf="!user.photos_profil"
                    src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg"
                    (click)="showPhotoViewerProfil(); toggleMenu(); preventCloseOnClick()" />
            </div>
            <div class="div-nom-buttons-stats-user">

                <div class="div-nom-buttons d-flex flex-wrap align-items-center justify-content-center">

                    <h3 class="name">{{ UserName }}</h3>

                    <button mat-menu-item [matMenuTriggerFor]="menu" type="button"
                        style="display: inline-block; width: auto;" class="btn btn-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-text-align-justify-icon lucide-text-align-justify" color="black">
                            <path d="M3 5h18" />
                            <path d="M3 12h18" />
                            <path d="M3 19h18" />
                        </svg>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="choix('')" *ngIf="isMe">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-image-icon lucide-image">
                                <rect width="18" height="18" x="3" y="3" rx="2" ry="2" />
                                <circle cx="9" cy="9" r="2" />
                                <path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21" />
                            </svg>
                            Publications

                        </button>

                        <button mat-menu-item (click)="choix('like')" *ngIf="isMe">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-book-heart-icon lucide-book-heart">
                                <path
                                    d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20" />
                                <path
                                    d="M8.62 9.8A2.25 2.25 0 1 1 12 6.836a2.25 2.25 0 1 1 3.38 2.966l-2.626 2.856a.998.998 0 0 1-1.507 0z" />
                            </svg>
                            Liste</button>

                        <button mat-menu-item (click)="choix('save')" *ngIf="isMe">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-book-marked-icon lucide-book-marked">
                                <path d="M10 2v8l3-3 3 3V2" />
                                <path
                                    d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20" />
                            </svg>
                            Enregistrement
                        </button>

                        <button mat-menu-item (click)="choix('u-edit')" *ngIf="isMe">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-user-pen-icon lucide-user-pen">
                                <path d="M11.5 15H7a4 4 0 0 0-4 4v2" />
                                <path
                                    d="M21.378 16.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                                <circle cx="10" cy="7" r="4" />
                            </svg>
                            Données personnelles</button>

                        <button mat-menu-item (click)="choix('p-create')" *ngIf="isMe">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-image-plus-icon lucide-image-plus">
                                <path d="M16 5h6" />
                                <path d="M19 2v6" />
                                <path d="M21 11.5V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7.5" />
                                <path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21" />
                                <circle cx="9" cy="9" r="2" />
                            </svg>
                            Créer une publication</button>

                        <app-button-follow *ngIf="!isMe" [isAbonnee]="isAbonnee" [user]="user"></app-button-follow>

                        <button mat-menu-item *ngIf="!isMe" class="btn" type="button" id="btn-ecrire"
                            (click)="createConversation()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-send-icon lucide-send">
                                <path
                                    d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z" />
                                <path d="m21.854 2.147-10.94 10.939" />
                            </svg> {{ "écrire" | titlecase }}</button>


                        <button mat-menu-item type="button" *ngIf="!isMe" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvaSignaler" aria-controls="offcanvaSignaler">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert">
                                <circle cx="12" cy="12" r="10" />
                                <line x1="12" x2="12" y1="8" y2="12" />
                                <line x1="12" x2="12.01" y1="16" y2="16" />
                            </svg> Signaler
                        </button>


                        <button mat-menu-item (click)="logout()" *ngIf="isMe">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-log-out-icon lucide-log-out">
                                <path d="m16 17 5-5-5-5" />
                                <path d="M21 12H9" />
                                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                            </svg>
                            Deconnexion</button>

                    </mat-menu>


                </div>
                <app-statistique-user [id]="id"></app-statistique-user>

            </div>
            <!-- <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->



        </div>
    </div>
</div>



<app-signaler-user *ngIf="!isMe" [userName]="user.firstName+' '+user.lastName" [userID]="user._id"></app-signaler-user>



<div class="offcanvas offcanvas-start " [ngClass]="{'show': sendNewMessage}" data-bs-scroll="true" @fadeIn @fadeOut
    tabindex="-1" id="ecrirefirstmessage" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-suit-heart"
                viewBox="0 0 16 16">
                <path
                    d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.6 7.6 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
            </svg> First
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="sendNewMessage=false"></button>
    </div>
    <div class="offcanvas-body" *ngIf="sendNewMessage">
        <app-discussion conversationId="conversationId123" [firstMsjFor]="user._id"></app-discussion>
    </div>
</div>