.div-list-followers {

    margin: 10px auto;
    // border: 1px solid #bfbebe;
    padding: 15px;
 
}

.div-list-followers-item {
    padding: 5px 0;
    border-bottom: 1px solid #bfbebe;

}

.div-list-followers-item:last-child {
    border-bottom: none;

}