.d-flex {
    margin-right: 10px;
    border-radius: 6px;
    background-color: #b7b7b73b;

    button {
        border: none;
        padding: 5px;
        color: black;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        svg {

            color: rgb(237, 17, 17);
        }


    }

    #btnaddlike {
        padding-left: 10px;
        padding-right: 3px;

    }

    #btn-followers {
        padding-right: 10px;
        padding-left: 3px;


    }

    :active {
        transform: scale(0.92);
          transition: transform 0.5s ease;
    }
}

#div-liste-like {
    position: fixed;
    background-color: #b7b7b73b;
    margin: 10px auto;
    text-align: center;
    //  box-shadow: 5px 44px 77px 1px rgb(192, 192, 192);
    padding: 20px;
    padding-bottom: 5px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border: 0.2px solid grey;
    box-shadow: #a8a2a2 4px 4px 20px;

    button {
        float: right;
        margin: 15px
    }

}