.d-flex {
    border-radius: 6px;
    padding: 5px 10px;
    margin: 10px;
    width: 50px;

    button {
        background-color: transparent;
        border: none;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        svg {
            color: rgb(237, 17, 17);
        }


    }

    :active {
        transform: scale(0.92);
        transition: transform 0.5s ease;
    }

    @media(max-width:600px) {
        margin: 3px;
        width: 16vw;
    }
}