* {
    box-sizing: border-box !important;
}

.my-account-page {
    width: 100%;
    margin-left: 260px;

    .div-btns {
        margin-top: 20px;
        width: 100%;

        button {
            width: 20%;
        }
    }

    .highlight{
        background-color: rgba(231, 66, 204, 0.482) !important;
    }

}



@media(max-width:767px) {

    .my-account-page {
        width: 100vw;
        margin-top: 100px;
        margin-left: 0;

    }
}