* {
    box-sizing: border-box !important;
}

.my-account-page{
    width: 100%;
    margin-left: 260px;

}


.btn-group{
    margin: 10px auto;
    display: block;
    text-align: center;
}
@media(max-width:767px) {
  
    .my-account-page{
        width: 100vw;
        margin-top: 100px;
        margin-left: 0;

    }
}
