* {
    box-sizing: border-box !important;
}

.my-account-page {
    width: 100%;
    background-color: currentColor;

    // background-color: #463cac;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;

    app-header {
        width: 250px !important;
        height: 100vh;
    }

    .my-account-container {
        width: calc(100% - 250px);
    }

    * {
        color: whitesmoke;
    }

    .div-btns {
        margin-top: 20px;
        width: 100%;

        button {
            width: 20%;
            border: none;
            color: rgb(235, 234, 234);
            border-radius: 0;
            background-color: #2c3339 !important;
        }

        button:first-child {
            border-radius: 12px 0 0 12px;
        }

        button:last-child {
            border-radius: 0 12px 12px 0;
        }

    }

    .highlight {
        font-weight: bolder;
        color: #ff0080 !important;
        background-color: #e4e5e7;
    }

}



@media(max-width:767px) {

    .my-account-page {
        width: 100vw;
        flex-direction: column !important;

        app-header {
            width: 100vw !important;
            height: 80px !important;
        }

        .my-account-container {
            width: 100%;
        }
    }
}