<nav class="navbar navbar-expand-md navbar-dark bg-dark flex-md-column fixed-top">
  <div class="container-fluid flex-md-column">

    <a class="navbar-brand mb-2" href="/">Snapface</a>



    <div class="collapse navbar-collapse flex-md-column" id="navbarNav">
      <ul class="navbar-nav w-100 flex-md-column">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-house-icon lucide-house">
              <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
              <path
                d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
            </svg> Accueil</a>
        </li>


        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" href="/connexion">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-user-lock-icon lucide-user-lock">
              <circle cx="10" cy="7" r="4" />
              <path d="M10.3 15H7a4 4 0 0 0-4 4v2" />
              <path d="M15 15.5V14a2 2 0 0 1 4 0v1.5" />
              <rect width="8" height="5" x="13" y="16" rx=".899" />
            </svg>
            Connexion</a>
        </li>

        
        <!-- <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" href="/pour-moi">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-check"
              viewBox="0 0 16 16">
              <path
                d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.708L8 2.207l-5 5V13.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 2 13.5V8.207l-.646.647a.5.5 0 1 1-.708-.708z" />
              <path
                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.707l.547.547 1.17-1.951a.5.5 0 1 1 .858.514" />
            </svg>
            Pour Moi </a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/search">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-search-icon lucide-search">
              <path d="m21 21-4.34-4.34" />
              <circle cx="11" cy="11" r="8" />
            </svg>
            Chercher</a>
        </li>


        <li class="nav-item">
          <button *ngIf="isLoggedIn" class="btn" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasFollowRequest" aria-controls="offcanvasFollowRequest">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-user-plus-icon lucide-user-plus">
              <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
              <circle cx="9" cy="7" r="4" />
              <line x1="19" x2="19" y1="8" y2="14" />
              <line x1="22" x2="16" y1="11" y2="11" />
            </svg>
            Demande de suivi
          </button>
        </li>


        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" href="/mon-compte">
            <app-avatar-user></app-avatar-user> Compte
          </a>
        </li>


        <li class="nav-item" *ngIf="isLoggedIn">
          <button class="nav-link" (click)="logout()" class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-log-out-icon lucide-log-out">
              <path d="m16 17 5-5-5-5" />
              <path d="M21 12H9" />
              <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
            </svg>
            Deconnexion</button>
        </li>


      </ul>
    </div>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>

</nav>





<div *ngIf="isLoggedIn" class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
  id="offcanvasFollowRequest" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus"
        viewBox="0 0 16 16">
        <path
          d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
        <path fill-rule="evenodd"
          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
      </svg> Demande de suivi
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-list-follow-request></app-list-follow-request>
  </div>
</div>