nav {
    padding: 10px;

    a {
        font-size: 17px;
        margin: 10px ;
        color: #3d3d3d;
        text-decoration: none;
        border-bottom: 1px solid #3d3d3d
    }
}

@media(max-width:800px){
    nav {
        flex-direction: row !important;
    }
}