@font-face {
    font-family: 'mango';
    src: url('../../assets/Mango.otf');
}

nav {
    padding: 10px;
    background-color: white;
    width: 100%;
    height: 50px;
    z-index: 2;

    a, button {
        font-size: 19px;
        margin: 10px;
        color: rgb(34, 34, 34);
        text-decoration: none;
        font-family: mango;
    }
}

@media(max-width:800px) {
    nav {
        flex-direction: row !important;
    }
}

 .offcanvas-stard{
    width: 60vw !important;
}

/* Define what each icon button should look like */
#button_chat {
    color: rgb(12, 12, 12);
    display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
    position: relative; /* All 'absolute'ly positioned elements are relative to this one */
    padding: 2px 5px; /* Add some padding so it looks nice */
  }
  
  /* Make the badge float in the top right corner of the button */
  #button_chat_badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
   
    padding: 1px 3px;
    font-size: 10px;
    
    position: absolute; /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
  }