@font-face {
  font-family: 'mango';
  src: url('../../assets/Mango.otf');
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

nav {

  margin: 5px;
  border-radius: 20px;
  width: 250px;
  height: calc(100vh - 10px);

  li {
    text-align: left;
    font-size: 17px;
    margin: 0 !important;
    text-decoration: none;
    font-weight: 300;
    padding: 15px 5px;

    * {
      color: #fff;
      font-family: "Quicksand", sans-serif;

    }

    svg {
      margin: 0 10px;
    }
  }

  li:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }

  /* Define what each icon button should look like */
  #button_chat {
    color: rgb(255, 255, 255);
    display: inline-block;
    /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
    position: relative;
    /* All 'absolute'ly positioned elements are relative to this one */
    padding: 2px 5px;
    /* Add some padding so it looks nice */
  }

  /* Make the badge float in the top right corner of the button */
  #button_chat_badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px;
    font-size: 10px;

    position: absolute;
    /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
  }


}



/* Sur mobile, navbar classique en haut */
@media (max-width: 767px) {
  nav {
    width: 97%;
    margin: 5px auto;
    height: 90px;
    min-height: 80px;

    .container-fluid {
      height: auto;
      background-color: #212529;
      border-radius: 20px;
    }

    .navbar-collapse {
      padding: 15px;
    }
  }
}