form {
    margin: 0 auto;
    width: 700px;
    max-width: 90vw;
    color: white;
    .div-input {
        margin: 35px 0;

        label,
        input {
            display: block;
            width: 100%;
            font-size: medium;
            color: white;
        }

        input {
            padding: 7px 14px;
            margin: 10px 0;
            width: 100%;
            color: black;
        }
    }

}