h1 {
    margin: 40px auto;
    text-align: center;
    font-weight: lighter;
    font-size: 22px;
}

form {
  
    max-width: 900px;
    margin: 10px auto;
    padding: 15px;

    .div-input {
        margin: 16px 0;

        label {
            margin-bottom: 5px;
        }
    }

    textarea {
        height: 100px;
    }

    button[type="submit"] {
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 100%;
    }

    .div-images {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px auto;
        max-width: 90vw;
        overflow: auto;
        margin: 0;
        padding: 5px;

        img,
        video {
            width: 300px;
            height: 380px;
            object-fit: cover;
            margin: 10px;
        }

        .imgg {
            position: relative;
        }

        button {
            position: absolute;
            bottom: 13px;
            right: 13px;

        }
    }

}


.audio-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1px;
    display: none;
    
    .audio-item {
        // background: #f1f1f1;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        input {
            margin: 15px;
        }

    }


}

@media(max-width:767px) {

    form {

        width: 100vw !important;
        max-width: 100vw !important;
        padding: 10px;
        box-sizing: border-box;
        margin: 0;

    }

    .audio-item {
        padding: 3px !important;
    }

}


.modal- {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */


    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;

        :hover,
        :focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    }

}