<div class="page">

    <app-header></app-header>

    <form (ngSubmit)="onSubmit()" autocomplete="off">

        <h1> Créer une publication </h1>
        <div class="first-div">
            <label> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-images" viewBox="0 0 16 16">
                    <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                    <path
                        d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z" />
                </svg> Selectionner vos photos :</label>

            <div class="div-images">
                <div class="imgg" *ngFor="let assets of array_assets ; let i = index">

                    <ng-container *ngIf="isImage(array_assets[i]); else videoTemplate">
                        <img id="image" [src]="assets!" [alt]="post.body">
                    </ng-container>

                    <ng-template #videoTemplate>
                        <video controls>
                            <source [src]="array_assets[i]!" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </ng-template>

                    <button class='btn btn-dark' type='button' (click)='deleteImage(i)'>Supprimer</button>

                </div>
            </div>

            <input type="file" class="btn btn-light" (change)="onFilesSelected($event)" multiple accept="image/*" />
        </div>

        <div class="div-input">
            <label>Saisissez le texte de votre publication:</label>
            <textarea type="text" class="form-control" name="body" [(ngModel)]="post.body"></textarea>
        </div>

        <p *ngIf="result" class="resultat">
            {{result}}
        </p>
        <p *ngIf="error" style="background-color: red; padding: 7px;"> {{error}} </p>
        <app-loading-spinner *ngIf="loading"></app-loading-spinner>


        <button class="btn btn-light" type="submit">Créer </button>

    </form>
</div>


<!-- <div class="audio-list">

        <div *ngFor="let audio of audioList"
            class="audio-item d-flex flex-wrap align-items-center justify-content-aroud">
            <input type="radio" id="html" name="audio" [(ngModel)]="post.audio!" [value]="audio.url">
            <img [src]="audio.cover" width="75px" height="75px" />
            <div>
                <p>{{audio.title}}</p>
                <audio controls [src]="audio.url"></audio>
            </div>
        </div>


    </div> -->