<app-header></app-header>

<app-header-snap [id]="post.userId"></app-header-snap>
<h1>Créer une publication </h1>

<form (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="div-input">
        <label>Saisissez le titre:</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="post.title" />
    </div>

    <div class="div-input">
        <label>Saisissez le corps:</label>
        <textarea type="text" class="form-control" name="body" [(ngModel)]="post.body"></textarea>
    </div>

    <p>Choisissez les photos & les vidéos</p>
    <div class="div-images">

        <div class="imgg" *ngFor="let assets of array_assets ; let i = index">
            <!-- <img width='300px' height='auto' [src]="assets" alt="Nouvelle image n°{{+ i}}" /> -->

            <ng-container *ngIf="isImage(assets); else videoTemplate">
                <img id="image" [src]="assets!" [alt]="post.title">
            </ng-container>

            <ng-template #videoTemplate>
                <video controls>
                    <source [src]="assets!" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </ng-template>

            <button class='btn btn-light' type='button' (click)='deleteImage(i)'>Supprimer</button><br />

        </div>
    </div>

    <input type="file" class="btn btn-light" (change)="onFilesSelected($event)" multiple accept="image/video*" />

    <div class="audio-list">

        <div *ngFor="let audio of audioList" class="audio-item d-flex align-items-center justify-content-aroud">
            <input type="radio" id="html" name="audio" [(ngModel)]="post.audio!" [value]="audio.url">
            <img [src]="audio.cover" width="75px" height="75px" />
            <div>
                <p>{{audio.title}}</p>
                <audio controls [src]="audio.url"></audio>
            </div>
        </div>


    </div>

    <br /> <button class="btn btn-light" type="submit">Créer </button>
    <br />
    {{result}}
    <br />
</form>