  #btn-signaler{
        border-radius: 15px !important;
        padding: 7px 14px !important;
        font-size: small !important;
        background-color: dodgerblue !important;
        color: #fff !important;
        margin-left: 15px !important;
    }