<div class="div-images d-flex flex-column align-items-center justify-content-center" *ngIf="Assets!.length >0">

  <ng-container *ngFor="let asset of assets">
    <ng-container *ngIf="isImage(asset); else videoTemplate">
      <div *ngIf="asset" @fadeImage>
        <img id="image" [src]="asset!" alt='photos'>
      </div>
    </ng-container>


    <ng-template #videoTemplate>
      <div class="video-wrapper" *ngIf="isVideo(asset)">
        <video #videoPlayer class="custom-video" [src]="asset!" (click)="togglePlay()"></video>
        <div class="controls d-flex align-items-center justify-content-center">
          <input type="range" [value]="currentTime" [max]="duration" (input)="onSeek($event)" min="0"
            [max]="duration" />
          <span>{{ formatTime(currentTime) }} / {{ formatTime(duration) }}</span>

        </div>
      </div>
    </ng-template>

  </ng-container>
</div>