:root {
    --widthh: 300px;
    --heightt: auto;
}

.div-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 5px 20px rgba(100, 102, 96, 0.65);
    width: var(--widthh);
    height: var(--heightt);
    max-height: var(--heightt);
    background-color: rgba(218, 216, 216, 0.17);

    video,
    img {
        object-fit: cover;
        width: 100%;
        height: var(--heightt);

        :after {
            content: " ";
            display: block;
            clear: both;
        }
    }

    video {
        width: var(--widthh);
        height: var(--heightt);
    }

    button {
        height: var(--heightt);
        background-color: transparent;
        border: none;

        :first-child {
            left: 0;
        }

        :last-child {
            right: 0;
        }
    }

}


@media(max-width:600px) {
    .face-snap-card {
        min-width: 90vw;
        margin: 2px;


        .div-images {
            width: var(--widthh);
            height: var(--heightt);

            img {
                width: var(--widthh);
                margin: 10px 0;
            }
        }

    }

}

.video-wrapper {
    position: relative;
    width: 640px;
    max-width: 100%;
    margin: auto;
    background: #000;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.custom-video {
    width: 100%;
    height: auto;
    display: block;
}

.controls {
    padding: 3px 12px;
    //  background-color: #1c1c1c;
    color: white;
    text-align: center;

    button {
        background-color: #007bff;
        border: none;
        color: white;
        padding: 8px 16px;
        margin-bottom: 10px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;

        :hover {
            background-color: #0056b3;
        }
    }

    input[type="range"] {
        width: 100%;
        margin: 8px 0;
        cursor: pointer;
    }
}

.time-info {
    font-size: 14px;
    color: #ccc;
}