<div class="div-btns d-flex justify-content-center">
    <button class="btn btn-light" (click)="isMobile=false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table"
            viewBox="0 0 16 16">
            <path
                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z" />
        </svg>
    </button>
    <button class="btn btn-light" (click)="isMobile=true"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            fill="currentColor" class="bi bi-view-list" viewBox="0 0 16 16">
            <path
                d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2m0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2m0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14" />
        </svg></button>
</div>

<div class="listofposts" *ngIf="isMobile">
    <div *ngFor="let publication of publications; let i = index">
        <app-publication *ngIf="i >= index" [publication]="publication" [shadow]="true">
        </app-publication>
    </div>
</div>

<div class="listofposts" *ngIf="publications && !isMobile">
    <!-- && (!user.isPrivate || isDisplay; else compteprivee) -->
    <!-- Non prive  -->
    <img *ngFor="let publication of publications; index as i " [src]="publication.assets[0]" (click)="clickImage(i)" />
    <!-- (click)="post=publication;index= i; toggleMenu(); preventCloseOnClick()" /> -->
</div>
<div class="listofposts">

    <ng-template #compteprivee>

        <div class="compte-private d-flex align-items-center justify-content-start">

            <div class="div-svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-lock"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                </svg>
            </div>
            <div>
                <strong> Compte privée </strong>
                <p>Suivre ce compte pour voir ses photos et vidéos.</p>
            </div>
        </div>
    </ng-template>

    <div *ngIf="publications.length == 0">
        <p id="textWidthBorder">Aucune publication pour le moment </p>
        <br />
        <app-users-list></app-users-list>
    </div>
</div>

<!-- <button class="btn btn-close" (click)="hidePost();" *ngIf="menuOpen"></button>

    <div id="post-viewer" *ngIf="menuOpen">

        <div class="div-post" *ngIf="publications[index]" (click)="preventCloseOnClick()">
            <app-publication [publication]="publications[index]"></app-publication>
            <button class="btn btn-light" (click)="index= index-1"> pre</button>
            <button class="btn btn-light" (click)="index= index+1"> suivant</button>
        </div>
    </div> -->