<div class="listofposts" *ngIf="publications">
    <!-- && (!user.isPrivate || isDisplay; else compteprivee) -->
    <!-- Non prive  -->
    <img *ngFor="let publication of publications; index as i " [src]="publication.assets[0]"
        (click)="post=publication;index= i; toggleMenu(); preventCloseOnClick()" />

    <ng-template #compteprivee>

        <div class="compte-private d-flex align-items-center justify-content-start">

            <div class="div-svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-lock"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                </svg>
            </div>
            <div>
                <strong> Compte privée </strong>
                <p>Suivre ce compte pour voir ses photos et vidéos.</p>
            </div>
        </div>
    </ng-template>

    <div *ngIf="publications.length == 0">
        <p id="textWidthBorder">Aucune publication pour le moment </p>
        <br />
        <app-users-list></app-users-list>
    </div>

    <button class="btn btn-close" (click)="hidePost();" *ngIf="menuOpen"></button>

    <div id="post-viewer" *ngIf="menuOpen">

        <div class="div-post" *ngIf="publications[index]" (click)="preventCloseOnClick()">
            {{index }}
            <app-publication [publication]="publications[index]"></app-publication>
            <button class="btn btn-light" (click)="index= index-1"> pre</button>
            <button class="btn btn-light" (click)="index= index+1"> suivant</button>
        </div>
    </div>


</div>
