  .div-btns {
    margin-top: 20px;
    width: 100%;

    button {
      width: 40%;
    }
  }

  .listofposts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // max-width: 80vw;
    margin: 30px auto;

    .liste-images {
      width: auto;
    }


    video,
    img {
      max-width: 300px;
      max-height: 300px;
      width: 30vw;
      height: 30vw;
      object-fit: cover;
      margin: 5px;

      @media(max-width:599px) {
        width: 42vw;
        height: 42vw;
      }
    }

    #textWidthBorder,
    .compte-private {
      border-top: 0.2px solid gray;
      border-bottom: 0.2px solid gray;
      text-align: center;
      font-size: 22px;
      font-weight: lighter;
      padding: 40px;
      width: auto;
      margin: 10px auto;
      max-width: 90vw;

    }

    .compte-private .div-svg {
      border: 1px solid black;
      border-radius: 50%;
      margin: 10px;

      svg {
        padding: 10px;
      }
    }
  }

  app-publication {
    box-shadow: none;
  }

  #post-viewer {
    position: fixed;
    background-color: rgba(65, 65, 65, 0.351);
    margin: 0 auto;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    text-align: center;



    .div-post {
      width: 500px;
      margin: 50px auto;

    }
  }

  .btn-close {
    top: 0;
    right: 0;
    position: fixed;
    margin: 20px;
    background-color: cornsilk;
  }


  @media(max-width:599px) {


    .liste-images {
      justify-content: center !important;
    }

    .div-post {
      width: 80vw !important;
      height: 95vh;
    }
  }