form {
    margin: 0 auto;
    width: 700px;
    max-width: 90vw;

    .div-input {
        margin: 35px 0;

        label,
        input {
            display: block;
            width: 100%;
            font-size: medium;
            color: rgb(11, 11, 11);
        }

        input {
            padding: 7px 14px;
            margin: 10px 0;
            width: 100%;
            color: black;
        }
    }

    button[type="submit"] {
        margin: 30px auto;
        display: block;
    }

}
.resultat {
    margin: 10px 0;
    padding: 7px;
    background-color: rgb(38, 132, 10);
}
