form{
    width: 700px;
    margin: 50px auto;
}

form label{
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
}


form button[type="submit"]{
    margin: 30px auto;
    display: block;
}

