h1 {
    margin: 40px auto;
    text-align: center;
    font-weight: lighter;
}

form {
    width: 800px;
    margin: 20px auto;


    .div-input {
        margin: 16px 0;

        label {
            margin-bottom: 5px;
        }

    }
    
    textarea{
        height: 100px;
    }

    button[type="submit"] {
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 100%;
    }
    .liste-images{
        overflow: auto;; 
        div{
        margin: 10px;
    }}


}

@media(max-width:850px) {

    form {

        width: 100vw;
        padding: 30px;
        box-sizing: border-box;
        margin: 20px 0;

    }

}