<div class="user-update">
    <app-header-snap-photos [user]="user" [isMe]="true"></app-header-snap-photos>


        <h2> Modifier votre nom</h2>

        <form *ngIf="onAffiche=='' && user " (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="div-input">
                <label>Modifiez votre prénom:</label>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" />
            </div>

            <div class="div-input">
                <label>Modifiez votre nom de famille:</label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" />
            </div>

            <button class="btn btn-primary" type="submit">Enregistrer les modifications </button>
            <br />
            <div>
                {{resultatOfEdit}}
            </div>
        </form>


        <h2>
            Modifier votre email
        </h2>

        <app-edit-email></app-edit-email>


        <h2>
            Modifier votre numéro de téléphone
        </h2>
        <app-edit-phonenumber></app-edit-phonenumber>


        <h2>
            Modifier votre mot de passe
        </h2>
        <app-password-edit></app-password-edit>


        <button class="btn btn-danger" (click)="del()"> Supprimer votre compte </button>


</div>