h1 {
    text-align: center;
    font-weight: lighter;
    margin: 20px auto;
}

.accordion{
    width: 800px;
    margin: 50px auto;
}
form , .form-edit {
    margin: 35px auto;
    width: 45vw;

    .col {
        padding: 15px;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }

    .div-input {
        margin: 35px 0;

        label,
        input {
            display: block;
            width: 100%;
            font-size: medium;

        }

        input {
            padding: 7px 14px;
            margin: 10px 0;
        }
    }
}



@media(max-width:850px) {

    app-header-snap {
        margin-top: 160px;
    }

    form, .form-edit {

        width: 80vw;
        padding: 30px;
        box-sizing: border-box;
        margin: 20px auto;
        width: 90vw;
        padding: 10px;
    }

    .d-flex {
        flex-direction: column;
    }

    .col {
        width: 100%;
        padding: 0 15px;
    }


}