.user-update {
    background-color: currentColor;
}


h2 {
    text-align: center;
    font-weight: bold;
    margin: 25px auto;
    margin-top: 50px;
    font-size: 30px;
    color: white;
}


form {
    margin: 0 auto;
    width: 700px;
    max-width: 90vw;
    .div-input {
        margin: 35px 0;

        label,
        input {
            display: block;
            width: 100%;
            font-size: medium;
            color: white;
        }

        input {
            padding: 7px 14px;
            margin: 10px 0;
            width: 100%;
            color: black;
        }
    }

      .resultat {
        margin: 10px 0;
        padding: 7px;
        background-color: rgb(38, 132, 10);
    }

}

.btn-danger {
    margin: 25px auto !important;
    display: block !important;
}


@media(max-width:850px) {

    form {
        box-sizing: border-box;
        margin: 20px auto;
        padding: 10px;
        width: 100%;
    }

}