.user-update {
    background-color: currentColor;
    padding-top: 50px;
}


h2 {
    text-align: center;
    font-weight: bold;
    margin: 25px auto;
    margin-top: 50px;
    font-size: 30px;
    color: white;
}


form {
    margin: 0 auto;
    width: 700px;

    .col {
        padding: 15px;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }

    .div-input {
        margin: 35px 0;

        label,
        input {
            display: block;
            width: 100%;
            font-size: medium;
            color: white;
        }

        input {
            padding: 7px 14px;
            margin: 10px 0;
            width: 100%;
            color: black;
        }
    }


}

.btn-danger {
    margin: 25px auto !important;
    display: block !important;
}


@media(max-width:850px) {

    app-header-snap {
        margin-top: 160px;
    }

    form,
    .form-edit {
        padding: 30px;
        box-sizing: border-box;
        margin: 20px auto;
        padding: 10px;
        width: 100%;
    }

    .d-flex {
        flex-direction: column;
    }

    .col {
        width: 100%;
        padding: 0 15px;
    }

    .accordion {
        width: 95%;
    }

}