<button (click)="save()">

  <svg *ngIf="!isSaved" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
    stroke="#737378" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="lucide lucide-bookmark-icon lucide-bookmark">
    <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
  </svg>

  <svg *ngIf="isSaved" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none"
    stroke="#ff00ff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
    class="lucide lucide-bookmark-check-icon lucide-bookmark-check">
    <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2Z" />
    <path d="m9 10 2 2 4-4" />
  </svg>
</button>