h1,
h2 {
    text-align: center;
}

.title div {
    margin: 20px;
    font-weight: 800;
    font-size: large;
}

.post-signale {
    margin: 20px;
    width: 500px;
    text-align: center;
}

.user-signale{
    width: 200px;
    margin: 10px;
}

.raison{
    width: 100%;
    background-color: red;
    color: white;
    font-weight: 800;
    font-size: larger;
    padding: 15px;
    margin: 10px;
}