@font-face {
    font-family: 'mango';
    src: url('../../../assets/Mango.otf');
}

.page-inscription {
    background-color: #463cac;
    min-height: 100vh;

    app-header {
        width: 250px !important;
        height: 100vh;
    }

    form {
        padding: 10px 30px;
        background-color: currentColor;
        // box-shadow: 2px -2px 33px -8px #616161;
        width: 70VW;
        min-height: calc(100vh - 50px);
        border-radius: 15px;
        margin: 20px;
        max-width: 900px;

        h1 {
            text-align: center;
            color: #e0e0e1;
            font-weight: 500;
            margin-top: 30px;
            font-family: mango, sans-serif;
        }


        .row {
            padding: 5px;
            width: 50%;
        }

        .div-input {
            margin: 16px 0;
            width: 100%;
            font-family: "Quicksand", sans-serif;

            label {
                color: #e0e0e1;
            }

            label,
            input {
                display: block;
                width: 100%;
                font-size: 14px;
                margin-bottom: 7px;
            }


        }

        button[type="submit"] {
            border: none;
            margin: 14px 7px;
            color: rgb(211, 211, 211);
            background-color: 6531f2;
            padding: 7px 14px;
            border-radius: 5px;
            font-size: 15px;

        }

        a,
        p,
        div {
            font-size: 15px;
            margin: 10px 0;
            font-family: "Quicksand", sans-serif;
            color: #e0e0e1;
        }

        button:disabled {
            cursor: not-allowed;

        }

    }


}

.resultat {
    margin: 10px 0;
    padding: 7px;
    background-color: rgb(38, 132, 10);
}

button:disabled {
    background-color: #6f6a76 !important;
}



@media(max-width:950px) {

    .page-inscription {
        background-size: auto;

        form {

            width: 60vw;
            min-width: 500px;
            padding: 30px;
            box-sizing: border-box;

            .form2row {
                flex-direction: column;

                .row {
                    padding: 1px;
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width:767px) {
    .page-inscription {
        flex-direction: column !important;

        form {
            padding: 10px;
            margin: 20px auto !important;
        }

        app-header {
            width: 100vw !important;
            height: 80px !important;
        }
    }

}

@media(max-width:550px) {

    form {

        width: 90vw !important;
        min-width: 200px !important;
        padding: 30px;
        box-sizing: border-box;
        margin: 20px auto;

        .form2row {
            flex-direction: column;

            .row {
                padding: 1px;
            }
        }
    }
}