<div class="container">

    <h1>Documentation Technique du projet </h1>

    <h2> Publication ✅ </h2>
    <ul>
        <li>Display : auteur titre, text, photos, videos & audio </li>
        <li>Create Post: form avec les champs : titre, text, photos, videos & audio
            <ul>
                <li>Insert post </li>
                <li>Incrémente totalPosts of statistique users </li>
            </ul>
        </li>
        <li>Edit Post: form avec les champs : titre, text, photos, videos & audio
            <ul>
                <li>Update post </li>
            </ul>
        </li>
        <li>Delete Post : button
            <ul>
                <li>Décrémente totalPosts of statistique users </li>
                <li>Delete all comments of publication </li>
            </ul>
        </li>
    </ul>


    <h2> Commentaire ✅ </h2>
    <ul>
        <li>Display: auteur, text </li>
        <li>Create comment : form text
            <ul>
                <li>Insert comment</li>
                <li>Incrementer atb commentsCount in Publication</li>
            </ul>
        </li>
        <li>Edit comment : form text
            <ul>
                <li>Update comment</li>
            </ul>
        </li>
        <li>Delete: button
            <ul>
                <li>Delete comment </li>
                <li>Décrementer atb commentsCount in Publication </li>
            </ul>
        </li>
    </ul>

    <h2> Utilisateur ✅ </h2>
    <ul>
        <li>/mon-compte</li>
        <li>/user/id </li>
        <li>SignIn : form nom, prenom, email, mot de passe, tel
            <ul>
                <li>insert user </li>
                <li>create Statistique User </li>
            </ul>
        </li>
        <li>LogIn : form email & mot de passe
            <ul>
                <li>Reinitialisation mdp sur le lien uniqye recu par email✅</li>
            </ul>
        </li>
        <li>Edit form nom & prenom
            <ul>
                <li> update </li>
            </ul>
        </li>

        <li>Edit form photo de profil
            <ul>
                <li> update </li>
            </ul>
        </li>

        <li>Edit form photo de background
            <ul>
                <li> update </li>
            </ul>
        </li>

        <li>Edit form email
            <ul>
                <li> update </li>
            </ul>
        </li>

        <li>Edit form numéro de telephone
            <ul>
                <li> update </li>
            </ul>
        </li>

        <li>Edit form mot de passe
            <ul>
                <li> update </li>
            </ul>
        </li>
        <li>Delete
            <ul>
                <li>revient a modifier nom & prenom par Utilisateur Introuvable </li>
                <li>Delete Statistique User </li>
            </ul>
        </li>
    </ul>

    <h2> Interaction social ✅ </h2>
    <ul>
        <li>Display </li>
        <li>Add Like | Save
            <ul>
                <li>Insert </li>
                <li>Incrementer atb likesCount | savesCountin post</li>
            </ul>
        </li>
        <li>Remove Like | Save
            <ul>
                <li>Delete </li>
                <li>Décrementer atb likesCount | savesCountin post</li>
            </ul>
        </li>


        <li>Add Point
            <ul>
                <li>Insert </li>
                <li>Incrementer atb totalPoints in Statistique user</li>
                <li>Incrementer atb pointsCount in post</li>
            </ul>
        </li>

        <li>Remove Point
            <ul>
                <li>Delete </li>
                <li>Decrementer atb totalPoints in Statistique user</li>
                <li>Decrementer atb pointsCount in post</li>
            </ul>
        </li>

    </ul>

    <h2> Abonnee ✅ </h2>
    <ul>
        <li>S'abonner
            <ul>
                <li>Insert </li>
                <li>Incrementer atb followers in Statistique user du user suivi </li>
            </ul>
        </li>
        <li>Se désabonner
            <ul>
                <li>Delete </li>
                <li>Décrementer atb followers in Statistique user du user suivi </li>
            </ul>
        </li>
        <li>List of followers </li>
    </ul>

    <h2>MESSAGERIE </h2>
    <ul>

        <li>liste des conversations</li>
        <li>display conversation : user, messages </li>
    </ul>
    <h2>SEARCH </h2>
    <ul>
        <li>form search user</li>
        <li>form search post</li>
    </ul>
    <h2>POUR MOI </h2>
    <ul>
        <li>liste post des user suivi et public  </li>
    </ul>
    <h2>Form Guard </h2>
    <h2>inscription with google </h2>
    <h2>APP MOBILE </h2>
    <h2>UNIT TEST</h2>

</div>