.container{
    width: 1000px;
    margin: 20px auto;
    text-transform: capitalize;

    h1, h2 {
        font-family: 'Courier New', Courier, monospace;
        margin-top: 60px;
    }

    li{
        margin: 10px;
    }
}