.div-commentaire-user-data {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    max-height: 9vh;

    a {
        color: var(--mat-card-subtitle-text-color);
        text-decoration: none;
        font-size: 15px;
    }
         :after {
        content: " ";
        display: block;
        clear: both;
    }

}

#photos-profil-user-in-commentaire {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}