<div class="container">

    <div class="d-flex flex-wrap align-items-center justify-content-center">

        <form *ngIf="onAffiche=='' && user " (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="div-input">
                <label>Modifiez votre prénom:</label>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" />
            </div>

            <div class="div-input">
                <label>Modifiez votre nom de famille:</label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" />
            </div>

            <button class="btn btn-primary" type="submit">Enregistrer les modifications </button>
            <br />
            <div>
                {{resultatOfEdit}}
            </div>
        </form>
        <div class="form-edit" *ngIf="onAffiche=='email'">
            <app-edit-email></app-edit-email>
        </div>

        <div class="form-edit"  *ngIf="onAffiche=='phone'">
            <app-edit-phonenumber></app-edit-phonenumber>
        </div>

        <div class="form-edit"  *ngIf="onAffiche=='password'">
            <app-password-edit></app-password-edit>
        </div>

        <div class="list-group list-group-flush">

            <button type="button" class="list-group-item list-group-item-action" (click)="onAffiche=''">
                Modifier votre nom
            </button>

            <button type="button" class="list-group-item list-group-item-action" (click)="onAffiche='email'">
                Modifier votre email
            </button>

            <button type="button" class="list-group-item list-group-item-action" (click)="onAffiche='phone'">
                Modifier votre numéro de téléphone
            </button>

            <button type="button" class="list-group-item list-group-item-action" (click)="onAffiche='password'">
                Modifier votre mot de passe
            </button>

        </div>
    </div>


</div>