.d-flex{
    padding-top: 100px;
}


:host {
    display: block;
    height: 90vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

app-publication {
    display: block;
    scroll-snap-align: start;
    height: 90vh;
    margin-top: 50px;
}