<app-header></app-header>
 <app-header-snap [id]="user._id"></app-header-snap>
<h1>Modifier ses données </h1>

<div class="container">

     <form (ngSubmit)="onSubmit()" autocomplete="off" *ngIf="user">
        <div class="div-input">
            <label>Modifiez votre prénom:</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" />
        </div>

        <div class="div-input">
            <label>Modifiez votre nom de famille:</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" />
        </div>

        <button class="btn btn-primary" type="submit">Enregistrer les modifications </button>
        <br />
        <div>
            {{resultatOfEdit}}
        </div>
    </form>
<!--  <div>
        <button class="btn btn-light" type="button">Modifier votre email</button>
        <button class="btn btn-light" type="button">Modifier votre numéro de téléphone</button> 
        <app-edit-email></app-edit-email>
        <app-edit-phonenumber></app-edit-phonenumber>
    </div> 
    -->
  
 
    <div class="d-flex flex-wrap align-items-center justify-content-center">
        <app-edit-photos nom="photos_profil" [photo]="user.photos_profil"></app-edit-photos>
        <app-edit-photos  nom="photos_background" [photo]="user.photos_background"></app-edit-photos>
    </div>
</div>