.div-interactionSociale {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    button {
        background-color: transparent;
        border: none;
        padding: 7px ;
        
        margin:0 15px 0 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        svg{
            margin:0 5px 0 0;

        }
    }
}