.div-statistiqueUser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   /* border-bottom: 0.6px solid #252525;*/
    width: 600px;
    margin: auto;

    div {
        text-align: center;
        margin: 10px auto;
        line-height: 30px;
    }
}

#div-liste-followers{
    position: fixed;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    width: 500px;
    text-align: center;
    box-shadow: 5px 44px 77px 1px rgb(192, 192, 192);
    padding: 30px;
    z-index: 2;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-followers {
    border: none;
    background-color: transparent;
    color: black;
}

#btn-hide-followers {
    border: none;
    border-radius: 15px;
    padding: 6px 15px;
    background-color: darkslategray;
    color: white;
    margin: 10px auto;
    display: block;
}

.btn-close{
    float: right;
    margin: 15px;
}

@media(max-width:1100px) {

    .div-statistiqueUser {

        width: 100%;
    }

}