.lui {
  text-align: left;
  border-radius: 9px;
  background-color: aliceblue;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 9px;
  margin: 10px 0;
  max-width: 300px;

}

.moi {
  text-align: left;
  background-color: blueviolet;
  color: white;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 9px;
  margin: 10px 0;
  max-width: 300px;
}

.right {
  display: flex;
  justify-content: end;
}

.list-group {
  margin-top: -20px;
  width: min-content;
  text-transform: capitalize;
  font-size: small;

}