<div class="page d-flex flex-wrap">
    <app-header></app-header>

    <form (ngSubmit)="onSubmit()" *ngIf="post" enctype="multipart/form-data" autocomplete="off">

        <h1>Modifier sa publication</h1>


        <p>Choisissez les photos & les vidéos</p>
        <div class="div-images">

            <div class="imgg" *ngFor="let assets of array_assets ; let i = index">

                <ng-container *ngIf="isImage(assets); else videoTemplate">
                    <img id="image" [src]="assets!" [alt]="post.body">
                </ng-container>

                <ng-template #videoTemplate>
                    <video controls>
                        <source [src]="assets!" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </ng-template>

                <button class='btn btn-light' type='button' (click)='deleteImage(i)'>Supprimer</button><br />

            </div>
        </div>

        
        <div>
            <label for="photo">Choisir une photo :</label>
            <input type="file" id="photo" (change)="onFilesSelected($event)" multiple accept="image/*" />
        </div>


        <div class="div-input">
            <label>Modifiez le texte de votre publication:</label>
            <textarea class="form-control" name="body" [(ngModel)]="post.body!">{{post.body}}</textarea>
        </div>

      
        <div *ngIf="result" class="resultat">
        {{result }}  
        </div>
        <p *ngIf="error" style="background-color: red; padding: 7px;"> {{error}} </p>
        <app-loading-spinner-response *ngIf="loading"></app-loading-spinner-response>

        
        <br />
        <button class="btn btn-light" type="submit">Enregistrer les modifications </button>
        <br />
        <button class="btn btn-danger" type="button" (click)="deletePost()">Supprimer la publication </button>

    </form>

</div>