form {
    display: flex;
    flex-direction: row;
 //   width: 100%;
    margin: 5px 0;
 //   
    input,
    button {
        padding: 4px 15px;
        margin: 0 5px 0 0;
        box-shadow: #d3d3d3 1px 01px 5px;
    }

    input {

        flex: 80%;
        outline: 0 !important;
        padding: 7px 15px;
    }

    button {
        font-size: medium;
    }

}