<div class="edit-image d-flex flex-column align-items-center justify-content-center">
    <h2 *ngIf="nom=='photos_profil'">Modifier votre photo de profil</h2>
    <h2 *ngIf="nom=='photos_background'">Modifier votre photo de background</h2>
    
    <img [src]="photo" alt="photo de profil de l'utilisateur" />
   
    <div class="div-input" >
        <label for="photo">Choisir une photo :</label>
        <input type="file" id="photo" (change)="onFileSelected($event)" accept="image/*" />
    </div>
    {{res}}
    <button class="btn btn-primary" [disabled]="!selectedFile"  (click)="onSubmit()"> Modifier son image</button>
</div>