.face-snap-card {
  min-width: 250px;
  box-sizing: border-box;
  width: 490px;
//  margin: 20px auto;
  padding: 20px;
  box-shadow: #d3d3d3 4px 4px 20px;
  margin: 10px;
  img {
    width: 460px;
    height: 580px;
    object-fit: cover;
  }

  h2 {
    margin: 15px 0;
    font-size: 19px;
    font-weight: 400;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    margin: 15px 0;
  }

  button {
    box-shadow: #d3d3d3 1px 1px 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
}

.div-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 460px;

  button {
    position: absolute;
  }

  button:first-child {
    left: 0;

  }

  button:last-child {
    right: 0;

  }
}


@media(max-width:500px) {
  .face-snap-card {
    min-width: 90vw;
    width: 95vw;

    img {
      width: 100%;
      height: auto;
    }
  }

  .div-images {
    width: 100%;
    margin: 25px 0;
  }
}