<div class="face-snap-card">
  <app-auteur-in-post-or-commentaire [id]="publication.userId.toString()" ></app-auteur-in-post-or-commentaire>

  <div *ngIf="isMyPost" style="text-align:right;">
    <button type="button" (click)="goToEditPost()" > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
      <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
    </svg> Modifier</button>
  </div>

 <br/>
  <div class="div-images" *ngIf="publication.images.length > 0">
    <button *ngIf="publication.images.length > 1" (click)="displayImagePrecedent()"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path
          d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
      </svg></button>
    <img [src]="publication.images[index]" [alt]="publication.title">
    <button  *ngIf="publication.images.length > 1" (click)="displayImageNext()"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
        <path
          d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
      </svg></button>
  </div>

  <h2>{{ Title | titlecase }}</h2>
  <!-- <p>Mis en ligne le {{ publication.date | date: 'à HH:mm, le d MMMM yyyy' }}</p> -->
  

  <p id="body">{{ Body | titlecase }}</p>


  <!-- <app-interaction-social [id]="publication._id.toString()" [auteurId]="publication.userId.toString()" [isDisplayListOfComments]="isDisplayListOfComments" ></app-interaction-social> -->
  <app-interaction-social [id]="publication._id.toString()" [auteurId]="publication.userId.toString()"  ></app-interaction-social>
  <app-commentaire-list [id]="publication._id.toString()" [isDisplayListOfComments]="isDisplayListOfComments"></app-commentaire-list>
  <button (click)="toggleDisplayListOfComments()">Afficher les commentaires</button>
  
</div>