.viewer {
    position: fixed;
    background-color: rgba(38, 38, 38, 0.532);
    margin: 0 auto;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    text-align: center;

    .btn-close {
        float: right;
        margin: 10px 10px 0 0;
        display: block;
    }

    #photo-viewer-photo-profil,
    #photo-viewer-photo-background {

        position: fixed;
        margin: 10px auto;
        text-align: center;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        border-radius: 15px;
        overflow: auto;

        #btn-open-edit {
            margin: 0;
            position: absolute;
            bottom: 28px;
            right: 23px;
        }

        img {
            margin: 1px auto;
            width: auto;
            height: 75vh;
            max-height: 90vh;
            display: block;
            max-width: calc(100vw - 280px);
            object-fit: cover;
            border-radius: 15px;
            margin-left: 260px;
        }


        @media (max-width:800px) {
            width: 95vw;
            margin: 1vw auto;
            padding: 2vw;

            img {
                max-width: 90vw;
                height: auto;
                object-fit: cover;
                margin-left: 0px !important;
            }

        }
    }
}


.container {
    max-width: 95vw;
    
    :after {
        content: " ";
        display: block;
        clear: both;
    }

    #photo-background {
        position: relative;
        width: calc(100% - 20px) !important;
        height: 300px;
        object-fit: cover;
        margin: 10px;
        border-radius: 10px;
        //   backdrop-filter: blur(8px);
        border: none;
        background-color: #30353a;

        :after {
            content: " ";
            display: block;
            clear: both;
        }
    }

    @media(max-width:479px) {


        #photo-background {
            height: 220px;
            width: calc(100% - 4px) !important;
            margin: 0 !important;

            #photo-background {
                height: 220px;
            }
        }
    }

}




#photo-profil {
    position: absolute;
    height: 170px;
    width: 170px;
    top: 150px;
    left: 60% !important;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 50%;

    @media(max-width:767px) {
        margin: 0;
        left: 50% !important;
        top: 200px;

    }

}



#editphotos {
    background-color: rgba(255, 255, 255, 0.951);
    padding: 30px 10px;
    margin-left: 260px;
}