.div-user {
    min-width: 200px !important;
    max-width: 200px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 10px;
    box-shadow: rgb(19, 18, 18) 3px 3px 7px;

    a {
        color: white;
        text-decoration: none;
        font-size: 18px;

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin: 5px 0;
            position: relative;

        }

        p {
            text-align: center;
            font-size: 16px;
        }

    }


    .online {
        background-color: green;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: relative;
        left: 99px;
        margin-top: -20px;
    }

}


@media(max-width:930px) {

    h2 {
        margin: 10px auto;

    }

    .div-list-users {
        flex-direction: row;
    }
}