<div class="div-user" *ngIf="user">
    <a href="user/{{user._id}}" >
        <img *ngIf="PhotoProfil" [src]='PhotoProfil' id="photos-profil" alt="photo de profil de {{UserName}}"  />
        <img *ngIf="!PhotoProfil" id="photos-profil" src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg"  />
   <div [ngClass]="{'online': onlineUserIds.has(user._id)}"></div>
   <!-- <div [ngClass]="{'online': user.isOnline==true}"></div> -->

      <p id="username">{{ UserName }} </p>  
    </a>
</div>