* {
    box-sizing: border-box !important;
}

.div-interactionSociale {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    button {
        background-color: whitesmoke;
        border: none;
        padding: 5px 10px;
        color: black;
        margin: 0 15px 0 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        //  border:0.1px solid black;

        svg {
            margin: 0 5px 0 0;
            color: black;
        }
    }
}

.offcanvas {
    min-height: 45vh !important;
    height: auto;
}

img {
    margin: 20px auto;
}

form {
    text-align: left;
}

#btn-edit-post {
    font-size: 13px !important;
    display: block;
    padding: 10px;
    text-align: center;
    width: 100%;
}