<ng-container *ngIf="isDisplayListOfComments">
    <div *ngFor="let com of commentaires" class="div-un-commentaire">
        <app-commentaire [commentaire]="com" [isDisplayListOfComments]="isDisplayListOfComments"></app-commentaire>
    </div>
</ng-container>

<form [formGroup]="commentForm" (ngSubmit)="createNewComment()" id="addNewComment" autocomplete="off">
    <input type="text" name="nom" formControlName="comment" id="inputcreatecomment" />
    <button type="submit">Envoyer</button>
</form>
<div id="info-createNewComment{{id}}"></div>