.div-un-commentaire {
    margin: 10px 0;
    padding: 7px 0;
    border-top: 0.5px solid rgb(212, 211, 211);
    box-sizing: border-box;
}

input,
button {
    padding: 4px 15px;
    margin: 0 5px 0 0;

}

input {

    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 0.2px solid black;
}

button {
    padding: 10px 15px;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: small;
  font-weight: lighter;
}

#p-commentaire {
    margin: 2px 60px;
    padding: 5px 0;
}

#addNewComment {
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
        padding: 10px 0px;
        flex: 80%;
        outline: 0;
        border: 0.2px solid black;
        border-radius: 5px 0 0 5px;
        margin-right: 0;
        height: 38px;
        padding: 7px 15px;

    }

    button {

        border-radius: 0 5px 5px 0;
        margin-left: 0;
        background-color: #1e1731;;
        color: white;
        height: 38px;
        padding: 7px 15px;
        font-weight: 400;
    }
}