@font-face {
    font-family: 'mango';
    src: url('../../../assets/Mango.otf');
}

h1 {
    font-family: mango, sans-serif;
}


.page-connexion {

    background-color: #463cac;
    min-height: 100vh;
    font-family: "Quicksand", sans-serif;

    app-header {
        width: 250px !important;
        height: 100vh;
    }

    form {
        padding: 10px 30px;
        background-color: currentColor;
        //  box-shadow: 2px -2px 33px -8px #616161;
        width: 550px;
        height: auto;
        border-radius: 15px;


        h1 {
            text-align: center;
            color: #e0e0e1;
            font-weight: 500;
            margin: 30px 0;
        }

        .div-input {
            margin: 19px auto;
            width: 100%;
            max-width: 350px;

            label {
                color: #e0e0e1;

            }

            label,
            input {
                display: block;
                width: 100%;
                font-size: 14px;
                margin: 7px 0;
            }

            #password {
                width: 80%;
            }
        }

        button[type="submit"] {
            border: none;
            margin: 14px 7px;
            color: #e0e0e1;
            background-color: #6531f2;
            padding: 7px 14px;
            border-radius: 5px;
            font-size: 15px;

        }

        p,
        a {
            font-size: 15px;
            margin: 10px 0;
            color: #e0e0e1;

        }

        #connexion-info {
            text-align: center;
            color: red;
        }
    }

    .resultat {
        margin: 10px 0;
        padding: 7px;
        background-color: rgb(38, 132, 10);
    }
}

@media(max-width:767px) {
    .page-connexion {
        margin-left: 0;
        flex-direction: column !important;

        app-header {
            width: 100vw !important;
            height: 80px !important;
        }
    }
}

@media(max-width:480px) {
    .page-connexion {
        height: auto;
        min-height: 90vh;
        background-size: auto;

        form {

            width: 90vw;
            padding: 15px;
            box-sizing: border-box;
            margin: 20px 0;
        }
    }
}