@font-face {
    font-family: 'mango';
    src: url('../../../assets/Mango.otf');
}

h1 {
    font-family: mango, sans-serif;
}


.page-connexion {
    background-image: url('https://images.pexels.com/photos/72161/pexels-photo-72161.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;

 
    background: linear-gradient(-45deg,  #23a6d5, rgb(115, 8, 136));
    background-size: 150% 150%;
    animation: gradient 15s ease infinite;

    height: 100vh;
    margin-left: 200px;


    form {
        padding: 10px 30px;
        background-color: rgba(255, 255, 255, 0.589);
        width: 400px;
        border-radius: 15px;
        margin-top: 50px;

        h1 {
            text-align: center;
            color: black;
            font-weight: 500;
            margin: 30px 0;
        }

        .div-input {
            margin: 19px auto;
            width: 100%;

            label,
            input {
                display: block;
                width: 100%;
                font-size: 14px;
                margin: 7px 0;
            }

            #password {
                width: 80%;
            }
        }

        button[type="submit"] {
            border: none;
            margin: 14px 7px;
            color: white;
            background-color: #1e1731;
            padding: 7px 14px;
            border-radius: 5px;
            font-size: 15px;

        }

        a {
            font-size: 15px;
            margin: 10px 0;
            color: #1e1731;
        }

        #connexion-info {
            text-align: center;
            color: red;
        }
    }
}

@media(max-width:767px) {
    .page-connexion {
        margin-top: 80px;
        margin-left: 0;

    }
}

@media(max-width:480px) {
    .page-connexion {
        height: auto;
        min-height: 90vh;
        background-size: auto;

        form {

            width: 90vw;
            padding: 15px;
            box-sizing: border-box;
            margin: 20px 0;
        }
    }
}