@font-face {
    font-family: 'mango';
    src: url('../../../assets/Mango.otf');
}

h1{
    font-family: mango, sans-serif;
}


.page-connexion {
    background-image: url('https://images.pexels.com/photos/7245258/pexels-photo-7245258.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;fp-y=0.699999988079071&amp;h=500&amp;w=1400&amp;dpr=1');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    height: calc(100vh - 50px);

    form {
        padding: 10px 30px;
        background-color: rgb(255, 255, 255);
        width: 400px;
        border-radius: 15px;

        h1 {
            text-align: center;
            color: black;
            font-weight: 500;
            margin: 30px 0;
        }

        .div-input {
            margin: 19px auto;
            width: 100%;

            label,
            input {
                display: block;
                width: 100%;
                font-size: 14px;
                margin: 7px 0;
            }

            #password {
                width: 80%;
            }
        }

        button[type="submit"] {
            border: none;
            margin: 18px 10px;
            color: white;
            background-color: #1e1731;
            padding: 7px 14px;
            border-radius: 5px;
        }

        a {
        margin: 10px 0;
            color: #1e1731;
        }

        #connexion-info {
            text-align: center;
            color: red;
        }
    }
}


@media(max-width:480px) {
    .page-connexion {
        height: auto;
        min-height: 90vh;
        background-size: auto;

        form {

            width: 90vw;
            padding: 15px;
            box-sizing: border-box;
            margin: 20px 0;
        }
    }
}