<form (ngSubmit)="editPhoneNumber()" autocomplete="off">
    <label>Saisissez votre nouveau numéro de téléphone:
        <input class="form-control" name="phoneNumber" type="number" [(ngModel)]="phoneNumber" />
    </label>
    <br/>
    <button type="submit" [disabled]="phoneNumber==null" class="btn btn-primary">Modifier </button>
    
    <p *ngIf="result" class="resultat">
        {{result}}
    </p>
    <p *ngIf="error" style="background-color: red; padding: 7px;"> {{error}} </p>
    <app-loading-spinner-response *ngIf="loading" text="Envoie d'un code de verification par message en cours"></app-loading-spinner-response>

</form>