form {
    margin: 20px auto;
    width: 700px;

    * {
        margin: 8px 0;
    }

    input {
        width: 100%;
    }

    label {
    color: white;

        text-align: left;
        width: 100% !important;

    }

    button {
        margin: 20px auto !important;
        display: block !important;
    }

}