*{box-sizing:border-box;}
.lui {
  text-align: left;
  border-radius: 9px;
  background-color: #8caaaa6b;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 9px;
  margin: 10px 0;
  max-width: 300px;
  font-size: 14px;
  font-weight: 300;
}

.moi {
  text-align: left;
  background-color:rgb(232, 158, 158);
  color: white;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 9px;
  margin: 10px 0;
  max-width: 300px;
  font-size: 14px;
  font-weight: 300;
}

.right {
  display: flex;
  justify-content: end;
}

.list-group {
  margin-top: -20px;
  width: min-content;
  text-transform: capitalize;
  font-size: small;

}

img{
  width: 260px;
  height: 300px;
  object-fit: cover;
  margin: 5px 0;
}

.div-lu{
  text-align: right;
  color: rgb(6, 112, 64);
  font-size: 11px;
}