<div class="d-flex flex-row align-items-center justify-content-start">

    <a href="user/{{user._id}}" > <img [src]="user.photos_profil" width="70px" height="70px"></a>
    
    <div>
       <a href="user/{{user._id}}" >
            {{user.name }}
       </a>
        <div *ngIf="resultat==''">
            <button class="btn btn-light" (click)="accepted(user._id)">Accepter</button>
            <button class="btn btn-primary" (click)="rejected(user._id)">Refuser</button>
        </div>
        {{resultat}}
    </div>
</div>