img{
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

button{
    font-size: small !important;
    margin-top: 5px;
}

.d-flex{
    border-bottom: 0.2px solid black;
    padding: 20px 10px;
}