* {
  box-sizing: border-box !important;
}

:root {
  --widthh: 300px;
  --heightt: auto;
}

.boxshadow {
  box-shadow: #d3d3d3 4px 4px 20px;
}

.mat-mdc-card-header {
  padding: 7px !important;
}

.post {
  // border: 3.3px solid #5c3b5c; 
  border: none !important;
  margin: 20px;
  height: auto;
  min-width: 250px;
  width: 300px;
  max-width: 550px;

  app-auteur-in-post-or-commentaire {
    width: 100%;
  }

  app-images-video {
    height: calc(auto + 32px);
    min-height: calc(auto + 32px);
    max-height: calc(auto + 32px);
    padding: 0;
  }


  @media(max-width:899px) {
    margin: 5px;
  }

  h2 {
    margin: 15px 0;
    font-size: 17px;
    font-weight: 400;
  }

  button {
    box-shadow: #d3d3d3 1px 1px 5px;
    box-sizing: border-box;
    border: none;
    outline: none;
  }

  app-interaction-social {
    width: 100%;
  }
}



.example-card {
  width: 400px;
}

a {
  text-decoration: none;
  overflow: clip;
  color: #ffffff;
}

#body {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0;
}


@media(max-width:1050px) {
  .face-snap-card {
    flex-direction: column;
  }

}

@media(max-width:600px) {
  .example-card {
    width: 90vw;
  }

  .mat-mdc-card-content {
    display: block;
    padding: 0 16px;
    font-size: 14px;
  }

  .face-snap-card {
    min-width: 90vw;
    margin: 2px;

    .post {
      width: 90vw;
    }



    .comment {
      width: 100vw;
      height: 80vh;
    }

  }

  .offcanvas {
    height: 80vh !important;
  }

}