<div class="d-flex align-items-center justify-content-center h-100">
  <div class="face-snap-card d-flex align-items-center" *ngIf="publication">
    <div class="post">
      <app-auteur-in-post-or-commentaire [id]="UserId!"></app-auteur-in-post-or-commentaire>

      <app-audio *ngIf="publication.audio!=''" [publication]="publication"></app-audio>
 
      <app-images-video [assets]="publication.assets"></app-images-video>

      <a data-bs-toggle="offcanvas" [href]="'#offcanvasComment'+ publication._id" role="button"
        aria-controls="offcanvasExample">
        <p id="body" *ngIf="Title?.length! < 50">{{ Title | titlecase }}</p>
        <p id="body" *ngIf="Title?.length! >= 50">{{ Title?.slice(0, 50) | titlecase }} ... </p>
        <p id="body" *ngIf="Body?.length! < 50">{{ Body }} </p>
        <p id="body" *ngIf="Body?.length! >= 50">{{ Body?.slice(0, 50) | titlecase }} ... </p>
      </a>

      <app-interaction-social [post]="publication" [isMyPost]="isMyPost"></app-interaction-social>

    </div>
  </div>
</div>


<!-- AFFICHAGE DU TITRE, BODY & TOUS LES COMMENTAIRES D'UN POST -->
<div class="offcanvas offcanvas-bottom" data-bs-scroll="true" tabindex="-1"
  [attr.id]="'offcanvasComment'+publication._id" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"> {{publication.title}} </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="body">
      {{publication.body}}
    </div>
    <app-commentaire-list [id]="publication._id"></app-commentaire-list>

  </div>
</div>