* {
  box-sizing: border-box;
}
.boxshadow{
  box-shadow: #d3d3d3 4px 4px 20px;
}
.face-snap-card {
  background-color: #fff;
  height: auto;
  margin: 20px;
  width: min-content;


  .post {

    min-width: 250px;
    width: 60vw;
    max-width: 550px;
    padding: 20px;
    display: grid;
    height: 80vh;
    grid-template-columns: [first] 100% [end];
    grid-template-rows: [row1-start] 80px [row1-end] 355px [third-line] 100px [thrid-line-end]  50px [last-line];
    grid-template-areas: 'user' 'audio' 'assets' 'text' 'interactions';

    app-images-video {
      height: 40vh;
    }

    app-interaction-social {
      padding-top: 17px;
    }


    @media(max-width:899px) {
      margin: 5px;
    }

    a {
      text-decoration: none;
      color: black;
      overflow: clip;
    }


    h2 {
      margin: 15px 0;
      font-size: 17px;
      font-weight: 400;
    }

    p {
      font-weight: 300;
      font-size: 15px;
      margin: 10px 0;
    }

    button {
      box-shadow: #d3d3d3 1px 1px 5px;
      box-sizing: border-box;
      border: none;
      outline: none;
    }
  }

}






@media(max-width:1050px) {
  .face-snap-card {
    flex-direction: column;
  }

  .post {
    max-height: 80vh;
  }

}

@media(max-width:600px) {
  .face-snap-card {
    min-width: 90vw;
    margin: 2px;

    .post {
      width: 90vw;
    }

    .comment {
      width: 100vw;
      height: 80vh;
    }

  }

  .offcanvas {
    height: 80vh !important;
  }

}