.chat-container {
  width: 100%;
  width: 100vw;
  height: 100vh !important;

  app-conversation-list {
    width: 270px;
    max-width: 270px;
    display: block;
    height: 100vh;
  }

  app-discussion {
    width: 100%;
    max-width: calc(100vw - 270px );
    display: block;
  }

  @media (max-width:767px) {
    height: 100dvh !important;
    overflow: hidden;

    app-conversation-list {
      display: none;
    }
  }
}