<div class="d-flex chat-container">
  <app-header></app-header>

  <app-conversation-list id="conversation-list" inOffCanvas="false" (newItemEvent2)="choisirConversation($event)"
    offcanvas="false"></app-conversation-list>

  <div class="chat-box">
    <app-user-presentation-on-top-of-chat-prive *ngIf="conversation"
      [users]="conversation.speaker"></app-user-presentation-on-top-of-chat-prive>

    <div class="messages d-flexx flex-column">

      <app-message *ngFor="let msg of messages" [message]="msg" (editEvent)="getValueForEdittingMessage($event)"
        (deleteEvent)="loadMessages()" [conversation]="conversation"></app-message>

      <div *ngIf="messages.length==0">
        <p>Dites Bonjour👋</p>
      </div>
    </div>

    <!-- Envoyer un MESSAGE  -->
    <div class="d-flex" *ngIf="messageEdit.id==''">
      <input class="form-control" [(ngModel)]="message" placeholder="Tapez un message..."
        (keyup.enter)="create()" />
      <button class="btn btn-light" (click)="create()">Envoyer</button>
    </div>

    <!-- Modifier un MESSAGE  -->

    <div class="d-flex" *ngIf="messageEdit.id!=''">

      <div class="form-floating">
        <input id="floatingInputGrid" class="form-control" [(ngModel)]="messageEdit.text" placeholder=""
          (keyup.enter)="submitEdit()" />
        <label for="floatingInputGrid">Modifier son message</label>
      </div>

      <button class="btn btn-light" (click)="submitEdit()">Enregistrer les modifications</button>
    </div>

  </div>
  
</div>