.spinner-border {
    position: absolute;
    left: 50vw;
    top: 50vh;
    z-index: 5;
    color: blueviolet;
    width: 60px;
    height: 60px;
}

.listofposts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
width: 100%;
}