.audio-player {
  border-radius: 12px;
  padding: 5px;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  button {
    background-color: transparent;
    border: none;
    padding: 2px 4px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

    :hover {
      background-color: #0056b3;
    }

    input[type="range"] {
      width: 100%;
      margin: 8px 0;
    }
  }

  .time-info {
    margin-left: 5px ;
    text-align: center;
    font-size: 14px;
    color: #555;
  }
}

.titre{
  font-size: small;
//  text-align: center;
}