<app-header-snap [id]="post.userId"></app-header-snap>

<form (ngSubmit)="onSubmit()" *ngIf="post" enctype="multipart/form-data" autocomplete="off">

    <h1>Modifier sa publication</h1>

    <div class="form-floating w-100">
        <label>Modifiez votre titre:</label>
        <input class="form-control" type="text" name="title" [(ngModel)]="post.title" />
    </div>

    <div class="form-floating">
        <label>Modifiez le texte de votre publication:</label>
        <textarea class="form-control" name="body" [(ngModel)]="post.body!">{{post.body}}</textarea>
    </div>

    <h2>Les photos & les vidéos</h2>
    <div class="div-images">

        <div class="imgg" *ngFor="let assets of array_assets ; let i = index">
            <!-- <img width='300px' height='auto' [src]="assets" alt="Nouvelle image n°{{+ i}}" /> -->

            <ng-container *ngIf="isImage(assets); else videoTemplate">
                <img id="image" [src]="assets!" [alt]="post.title">
            </ng-container>

            <ng-template #videoTemplate>
                <video controls>
                    <source [src]="assets!" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </ng-template>

            <button class='btn btn-light' type='button' (click)='deleteImage(i)'>Supprimer</button><br />

        </div>
    </div>

    <div>
        <label for="photo">Choisir une photo :</label>
        <input type="file" id="photo" (change)="onFilesSelected($event)" multiple accept="image/video*" />
    </div>

    <div class="audio-list">
        <div class="audio-item d-flex align-items-center justify-content-aroud">
            <input type="radio" id="html" name="audio" [(ngModel)]="post.audio!"
                value="../../assets/audio/Flint - March the Machine.mp3">
            <div>
                <p>Flint - March the Machine</p>
                <audio controls src="../../assets/audio/Flint - March the Machine.mp3"></audio>
            </div>
        </div>

        <div class="audio-item d-flex align-items-center justify-content-aroud">
            <input type="radio" id="html" name="audio" [(ngModel)]="post.audio!"
                value="../../assets/audio/Litos - Coqueta.mp3">
            <div>
                <p>Litos - Coqueta</p>
                <audio controls src="../../assets/audio/Litos - Coqueta.mp3"></audio>
            </div>
        </div>


        <div class="audio-item d-flex align-items-center justify-content-aroud">
            <input type="radio" id="html" name="audio" [(ngModel)]="post.audio!"
                value="../../assets/audio/Superlative - The Wave.mp3">
            <div>
                <p>Superlative - The Wave</p>
                <audio controls src="../../assets/audio/Superlative - The Wave.mp3"></audio>
            </div>
        </div>

    </div>
    <br />
    <br />

    {{resultatOfEdit}}
    <br />
    <button class="btn btn-light" type="submit">Enregistrer les modifications </button>
    <br />
    <button class="btn btn-danger" type="button" (click)="deletePost()">Supprimer la publication </button>

</form>