form {
    width: 700px;
    margin: 50px auto;
    text-align: center;

    h1 {
        text-align: center;
        margin: 50px auto;
    }

    button {
        margin: 10px;
    }

    .form-floating {
        padding: 15px;

        input {
            padding-top: 4rem;
            padding-bottom: 2rem;
        }

        label {
            margin: 15px;
            font-weight: 700;
        }

        textarea {
            min-height: 150px;
            padding-top: 4rem;
            padding-bottom: 2rem;
        }
    }

    .div-images {
        
        overflow: auto;; 
        img {
            width: 200px;
            height: 280px;
            object-fit: cover;
            margin: 10px;
        }
    }
    


}

@media(max-width:650px) {

    form {
        width: 100vw;
        padding: 30px;
        box-sizing: border-box;
        margin: 20px 0;
    }

}