<form [formGroup]="postEditForm" (ngSubmit)="onSubmit()">
    <h1>Modifier sa publication</h1>
    <div class="div-input">
        <label>Modifiez votre titre:</label>
        <input class="form-control" type="text" formControlName="title" value={{data?.title}} />
    </div>

    <div class="div-input">
        <label>Modifiez le corps:</label>
        <input class="form-control" type="text" formControlName="body" value={{data?.body}} />
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <div *ngFor="let image of data?.images ; let i = index" style="width:200px"
            class="d-flex flex-column align-items-center justify-content-center">
            <img width='200px' height='auto' src={{image}} alt="Nouvelle image n°{{+ i}}" />
            <button class='btn btn-dark' type='button' (click)='deleteImage(i)'>Supprimer</button><br />
        </div>
    </div>

    <div class="div-input">
        <label>Ajouter une nouvelle image:</label>
        <div class="d-flex align-items-center justify-content-center">
            <input class="form-control" type="text" formControlName="image" />
            <button class="btn btn-light" type="button" (click)='addNewImage()'>Ajouter une nouvelle image</button>
        </div>
    </div>


    <button class="btn btn-dark" type="submit">Modifier </button>
    <button class="btn btn-danger" type="button" (click)="deletePost()">SUPPRIMER LA PUBLICATION</button>

</form>