form {
    margin: 20px auto;
    width: 700px;

    input {
        width: 100%;
    }

    label {
    color: white;

        text-align: left;
        width: 100% !important;
        margin-top: 10px;
        margin-bottom: 5px;
    }

}


form button[type="submit"] {
    margin: 30px auto;
    display: block;
}