@use '@angular/material' as mat;
@include mat.core();

html,
body {
  height: 100% !important;
}


body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: 'Poppins', sans-serif;
//  background-color: mat.get-color-from-palette($primary-violet, 50);
  color: #1f1f1f;
}