
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$snapface-primary: mat.define-palette(mat.$indigo-palette);
$snapface-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$snapface-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$snapface-theme: mat.define-light-theme((
  color: (
    primary: $snapface-primary,
    accent: $snapface-accent,
    warn: $snapface-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($snapface-theme);


  
$primary-violet: mat.define-palette(mat.$deep-purple-palette, 400, 300, 500);
$accent-pink: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn-red: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary-violet,
    accent: $accent-pink,
    warn: $warn-red,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary-violet,
    accent: $accent-pink,
    warn: $warn-red,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));



  // Applique les deux thèmes : clair par défaut, sombre automatique
@include mat.all-component-themes($light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($dark-theme);
}

html, body { height: 100% !important;
 }

body {
   margin: 0; 
  font-family: 'Poppins', sans-serif;
  background-color: mat.get-color-from-palette($snapface-primary, 50);
  color: #1f1f1f;
}

.dark-mode {
  background-color: #1f1f27;
  background-color: #6c6ca4;
  color: white;
}
