<div class="home d-flex flex-wrap flex-row align-items-start justify-content-between">
    <app-header></app-header>
    <div class="search-container">

        <div class="div-search-input-btn d-flex flex-column align-items-center justify-content-center">
            <h2>Chercher</h2>
            
            <div class="d-flex  flex-wrap align-items-center justify-content-center">
                <button [ngClass]="{'btn-activee': filtre=='user'}" (click)="filtre='user'">User</button>
                <button [ngClass]="{'btn-activee': filtre=='post'}" (click)="filtre='post'">Post</button>
            </div>
            
            <div *ngIf="filtre=='user'" class="div-user-search d-flex flex-wrap align-items-center justify-content-center">
                <input name="fname" [(ngModel)]="name" (keyup.enter)="researchUser()" class="form-control"
                    placeholder="Enter First name">
              
                <button class="btn btn-light" (click)="researchUser()">Chercher</button>
            </div>

            <div *ngIf="filtre=='post'" class="d-flex flex-wrap align-items-center justify-content-center">
                <input name="search" [(ngModel)]="search" (keyup.enter)="research()" placeholder="Search posts"
                    class="form-control">
                <button class="btn btn-light" (click)="research()">Chercher</button>
            </div>
        
        </div>


        <div class="d-flex flex-wrap align-items-center justify-content-center">

            <div *ngFor="let user of listeUser">
                <app-user [user]="user"></app-user>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">

            <div *ngFor="let post of listePost">
                <app-publication [publication]="post"></app-publication>
            </div>
        </div>

    </div>
</div>