.search-container{
    width: 100%;
    margin-left: 260px;
    background-color: currentColor;
    height: 100vh;
}

.div-search-input-btn {
    text-align: center;
    padding-top: 100px;
    background-color: currentColor;

    h2 {
        font-family: mango;
        color: white;
    }

    input {
        width: 500px;
        margin: 20px 5px;
        max-width: 90vw !important;
        color: white;
    }

    button {
        width: 100px;
        background-color: transparent;
        border: none;
        padding: 7px 15px;
        color: white;

        :hover {
            background-color: rgb(243, 248, 248);
            border-bottom: 0.5px solid rgb(145, 145, 145);

        }

        :active {
            border-radius: 0 !important;
            border: none !important;
            outline: none;
            /* Pour enlever la bordure bleu */
        }

     

    }
   .btn-activee {
            border-bottom: 1px solid rgb(255, 255, 255);
            border-radius: 0 !important;
        }

    }

    @media(max-width:767px) {
  
    .search-container{
        width: 100vw;
        margin-top: 130px;
        margin-left: 0;
        .div-user-search{
            button{
                width: 100%;
            }
        }

       
    }
}