.search-container {
    width: 100%;
    margin-left: 260px;
    background-color: currentColor;
    min-height: 100vh;
}

.div-search-input-btn {
    text-align: center;
    padding-top: 100px;
    background-color: currentColor;

    h2 {
        font-family: mango;
        color: white;
    }

    input {
        width: 500px;
        margin: 20px 5px;
        max-width: 90vw !important;
        color: white;
        border: none;
        background-color: #373e44;
    }

    button {
        width: 100px;
        background-color: transparent;
        border: none;
        padding: 7px 15px;
        color: white;

        :hover {
            background-color: rgb(243, 248, 248);
            border-bottom: 0.5px solid rgb(145, 145, 145);

        }

        :active {
            border-radius: 0 !important;
            border: none !important;
            outline: none;
            /* Pour enlever la bordure bleu */
        }

    }

    #btn-search {
        background-color: blueviolet;
        color: rgb(219, 217, 217);
        max-width: 90vw !important;
    }

    .btn-activee {
        border-bottom: 1px solid rgb(255, 255, 255);
        border-radius: 0 !important;
    }

}

@media(max-width:767px) {

    .search-container {
        width: 100vw;
        margin-left: 0;
        height: auto;

        #btn-search {
            width: 100%;
        }


    }
}