<form>
    <h1>
        Connexion
    </h1>
    <div class="div-input">
        <label>Email:</label>
        <input type="email" name="email" id="input-email" placeholder="email" autocomplete="off"  />
    </div>

    <div class="div-input">
        <label>Mot de passe: </label>
        <input type="password" id="input-password" name="password" autocomplete="new-password" placeholder="password" >
    </div>

    <button id="btn-submit" type="submit">Se connecter</button>
    <button type="button" onclick="document.location.href='inscription'">Pas de compte? </button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
