#div-list-post {
    width: 100%;
}

app-header {
    width: 270px;
    display: block;
    height: 100vh;
}


@media(max-width:767px) {
    .home {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    app-header {
        width: 97%  !important;
        display: block;
        height: 75px !important;
    }

}