.home {
    padding-top: 100px;
}

#div-list-post{
    width: 100vw;
}

@media(max-width:930px) {

    .home {

        flex-direction: column !important;
        width: 100vw;
        justify-content: center !important;
        
    }


    #div-list-users {
        width: 100vw;
        overflow-x: scroll;
    }
}

@media(max-width:899px) {
    .home {
        align-items: center !important;
    }
}