
#div-list-post{
    margin-left: 200px;
}

@media(max-width:930px) {

    .home {
        flex-direction: column !important;
        justify-content: center !important;
        
    }
}

@media(max-width:769px) {
    .home {
        align-items: center !important;
    }
    #div-list-post{
        margin-top: 130px;
        margin-left: 0;

    }
}