#sedesabonner,
#sabonner {
    border: none;
    border-radius: 15px;
    padding: 7px 14px;
    font-size: small;
    background-color: #f2f2f2;
    color: black;
    margin-left: 15px;
}

#sabonner {
    background-color: dodgerblue;
    color: #fff;

}