<app-header></app-header>

<div class="d-flex">

  <app-conversation-list (newItemEvent2)="choisirConversation($event)" offcanvas="false"></app-conversation-list>

  <div class="chat-box">
    <app-user-presentation-on-top-of-chat-prive *ngIf="conversation"
      [users]="conversation.speaker"></app-user-presentation-on-top-of-chat-prive>

    <div class="messages d-flexx flex-column">
     

    
      <div *ngFor="let msg of messages" class="ccc" >
        <!-- <p > <strong>{{ msg.sender === sender ? 'Moi' : 'Lui' }}</strong> </p> -->
        <div [ngClass]="{ 'right': msg.sender === sender}" >
        <div (dblclick)="onRightClick()" [ngClass]="{'moi': msg.sender === sender, 'lui': msg.sender !== sender}">
          {{ msg.text }}
          <div *ngIf=" msg.sender === sender && displayEditDeleteButton">
            <button class="btn btn-light" (click)="showEdit( msg.text, msg._id)">edit</button>
            <button class="btn btn-light" (click)="delete(msg._id)">delete</button>
          </div>
        </div>
      </div>
      </div>

      <div *ngIf="messages.length==0">
        <p>Dites Bonjour👋</p>
      </div>
    </div>

    <div class="d-flex" *ngIf="messageEdittingId==''">
      <input class="form-control" [(ngModel)]="message" placeholder="Tapez un message..."
        (keyup.enter)="sendMessagePrivee()" />
      <button class="btn btn-light" (click)="sendMessagePrivee()">Envoyer</button>
    </div>

    <div class="d-flex" *ngIf="messageEdittingId!=''">

      <div class="form-floating">
        <input id="floatingInputGrid" class="form-control" [(ngModel)]="message" placeholder=""
          (keyup.enter)="submitEdit()" />
        <label for="floatingInputGrid">Modifier son message</label>
      </div>

      <button class="btn btn-light" (click)="submitEdit()">Enregistrer les modifications</button>
    </div>

  </div>
</div>